<h2 id="ticket-page-title">
  Backup:
</h2>

<div class="settings-grid">
  <div class="settings-grid-row row">
    <%= content_tag :div, nil, class: 'col-md-2 hidden-xs hidden-sm' %>
    <div class="grids col-md-10 col-sm-12">
      <div class="row" data-hook="admin_settings_grid">
        <%= settings_item('glyphicon glyphicon-user', "users", "export users csv file.", admin_export_backup_path(model_name: "User", format: "csv")) %>
        <%= settings_item('glyphicon glyphicon-list-alt', "posts", "export posts csv file.", admin_export_backup_path(model_name: "Post", format: "csv")) %>
        <%= settings_item('glyphicon glyphicon-list-alt', "topics", "export topics csv file.", admin_export_backup_path(model_name: "Topic", format: "csv")) %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="backups">
    <%= render 'admin/backups/backedup_files' %>
  </div>
</div>
