<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body <%= 'dir=rtl' if %w(ar dv he iw fa nqo ps sd ug ur yi).include?(@topic.locale) %>>
  <style>
  .list-inline {
    padding-left: 0;
    list-style: none;
  }
  </style>
  <p style="color: #666;">
    <small>
    <%= t('above_this_line', default: "Make sure your reply appears above this line") %><br/>
    </small>
  </p>

  <p>
    <%= @post.html_formatted_body %>
    <%= simple_format(@post.user.signature) if @post.user.signature.present? %>
  </p>
  <%= render :partial => 'posts/thumbnail', locals: { :model_name => @post } %>


  <%= render partial: 'mailer_shared/post', collection: @posts %>
  <br/>
  <p style="color: #666;">
    <small>
    <strong>Powered by Helpy</strong><br/>
    Get a Free Helpy Support System for your Site at http://helpy.io/<br/>
    <%= t('view_online', default: 'View this online:') %> <%= ticket_url(@topic, host: AppSettings['settings.site_url']) %>
    </small>
  </p>
  </body>
</html>
