<div id="page-title" class="row">
  <div class="col-md-8" id="page-title-left">
    <span class="hidden-xs">
      <%= render_breadcrumbs('') %>
    </span>
    <h1><%= t(:your_profile) %></h1>
  </div>
  <div class="col-md-4" id="page-title-right">
  </div>
</div>

<div class="row content-row">

  <div class="col-md-3 text-center">

    <%= image_tag(@user.image_url, width: '150px', class: 'img-circle') %>

  </div>

  <div class="col-md-9">
  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <span class="user-fields">
    <%= f.email_field :email, autofocus: true %>
    <%= f.text_field :name %>
    <%= f.text_area :bio %>
    <%= f.text_field :company %>
    <%= f.text_field :title %>
    <%= f.select :language, [['English','en'],['French','fr'],['German','de'],['Spanish','es'],['Russian','ru']] %>
    <%= f.text_area :signature if current_user.admin? %>

    </span>

    <%= f.password_field :current_password, autocomplete: "off" %>

    <br/><br/>
    <h4>Change Password: </h4>
    <span class="password-fields">
    <%= f.password_field :password, autocomplete: "off", label: "New Password" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", label: "Confirm New Password" %>
    </span>

    <%= f.submit "Save Changes", class: 'btn btn-warning' %>

  <% end %>

  </div>
</div>
