<div class="col-md-<%= @cols %> col-sm-<%= @cols %> text-center agent">

  <div class="agent-id">
    <div class="agent-image">
      <%= link_to avatar_image(agent, size=80), admin_user_path(id: agent.id) if agent.present? %>
    </div>
    <div class="agent-name">
      <% topic_count = @topics.where(assigned_user: agent).count %>
      <h4>
        <%= agent.try(:name).split(' ')[0].titleize || 'No Agent'.html_safe %><br/>
        <small><%= agent.try(:role).titleize %></small>
      </h4>
    </div>
  </div>

  <div class="agent-assigned-count agent-stat">
    <h4><%= topic_count.zero? ? '-' : topic_count %><br/>
    <small><%= t('assigned_topics', default: "Assigned Topics") %></small>
  </div>

  <div class="agent-responded agent-stat">
    <% responded_topic_count = @responded_topics.where(assigned_user: agent).length %>
    <h4 title="Responded to <%= responded_topic_count %> / <%= topic_count %>">
      <% if topic_count.zero? %>
        -
      <% else %>
        <%= number_to_percentage(responded_topic_count.to_f / topic_count.to_f * 100.00, precision: 1)  %>
      <% end %>
      <br/>
      <small><%= t('responded', default: "Responded") %></small>
    </h4>
  </div>

  <div class="agent-closed agent-stat">
    <% closed_topic_count = Topic.undeleted.where(assigned_user: agent).closed.count %>
    <h4 title="<%= closed_topic_count %> / <%= topic_count %> Closed">
      <% if topic_count.zero? %>
        -
      <% else %>
        <%= number_to_percentage(closed_topic_count.to_f / topic_count.to_f * 100.00, precision: 1)  %>
      <% end %>
      <br/>
      <small><%= t('closed', default: "Closed") %></small>
    </h4>
  </div>

  <div class="agent-replies agent-stat">
    <% posts_count = @posts.where(user: agent, kind: 'reply').count %>
    <h4><%= posts_count.zero? ? '-' : posts_count %>
    <br/><small><%= t('replies', default: "Replies") %></small></h4>
  </div>

  <div class="agent-response-time agent-stat">
    <% delays = @responded_topics.where(assigned_user: agent).map { |t| t.posts.second.created_at - t.created_at } %>
    <h4>
      <% if delays.empty? %>
        -
      <% else %>
        <%= distance_of_time_in_words median(delays) %>
      <% end %>
      <br/>
      <small><%= t('median_time', default: "Median time to first response") %></small>
    </h4>
  </div>

  <div class="agent-stat" data-hook="agent-stat">
  </div>

</div>
