<script>
$(document).ready(function(){
  $('.topic-box').click(function(){
    document.location.href = $(this).data("link");
  });
  $('.thumbnail').mouseover(function(){
    $(this).css('cursor','pointer');
    $(this).css('border','1px solid #666');
    $(this).css('box-shadow', '0px 0px 10px #eee');
  });
  $('.thumbnail').mouseout(function(){
    $(this).css('cursor','auto');
    $(this).css('border','1px solid #eee');
    $(this).css('box-shadow', '');
  });


});
</script>


<h1>Admin Dashboard</h1>

<div class="tiny-header">Discussion Flow</div>

<div id="admin-stats" class="row">
  <div class="col-md-2 col-sm-2 col-xs-2 text-center">
    <div class="dummy"></div>
    <div class="thumbnail">

      <h2><%= @closed %></h2>
      Resolved
    </div>
  </div>
  <div class="topic-box col-md-2 col-sm-2 col-xs-2 text-center">
    <div class="dummy"></div>
    <div class="thumbnail">
      <h2><%= Topic.all.count %></h2>
      All
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 text-center">
    <div class="dummy"></div>
    <div class="thumbnail">

    <h2><%= @active %></h2>
    Active
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 text-center">
    <div class="dummy"></div>
    <div class="thumbnail">

      <h2><%= @open %></h2>
      Open
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 text-center">
    <div class="dummy"></div>
    <div class="thumbnail">

      <h2><%= @mine %></h2>
      Mine
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 text-center">
    <div class="dummy"></div>
    <div class="thumbnail">

      <h2><%= @pending %></h2>
      Waiting
    </div>
  </div>
</div>

<div class="recent-posts">
  <div class="tiny-header">Recent Activity</div>

  <ul class="list-unstyled">
    <% @posts.each do |post| %>
    <li>
      <div id="post-<%= post.id %>" class="media post-container">
      	<div class="pull-left">
      		<%= avatar_image(post.user, size=40) %>
      	</div>
        <span class="last-active posted-at less-important">
          <span class="hidden-xs">
          <%= last_active_time(post.created_at) %><br/>
          <%= post_message(post,false) %>
          </span>
        </span>
      </div>
    </li>
    <% end %>
  </ul>
</div>
