<% title "#{admin_title} #{t('team_insights', site_name: AppSettings['settings.site_name'])}" %>

<div class="team-header row">

  <div class="col-md-12 clearfix">
    <h2>
      <%= t('team_insights', site_name: AppSettings['settings.site_name']) %>
      <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle less-important" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= @interval.sentence_case %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><%= link_to t("today", default: "Today"), admin_stats_path(start_date: Time.zone.today.midnight, label: 'today') %></li>
          <li><%= link_to t("yesterday", default: "Yesterday"), admin_stats_path(start_date: Time.zone.yesterday.midnight, end_date: Time.zone.yesterday.at_end_of_day, label: 'yesterday') %></li>
          <li><%= link_to t("this_week", default: "This Week"), admin_stats_path(start_date: Time.zone.today.midnight.at_beginning_of_week, end_date: Time.zone.today.midnight.at_end_of_week, label: 'this_week') %></li>
          <li><%= link_to t("last_week", default: "Last Week"), admin_stats_path(start_date: Time.zone.today.last_week.midnight.at_beginning_of_week, end_date: Time.zone.today.last_week.midnight.at_end_of_week, label: 'last_week') %></li>
          <li><%= link_to t("this_month", default: "This Month"), admin_stats_path(start_date: Time.zone.today.midnight.at_beginning_of_month, end_date: Time.zone.today.midnight.at_end_of_month, label: 'this_month') %></li>
        </ul>
      </div>
    </h2>
  </div>
  <div class="col-md-12" style="margin-top: 0;">
    <h2 style="margin-top: 0;">
    <small>
      <% if @topic_count > 0 %>
        <%= t('insights_blurb_one', count: @topic_count, period: @interval.sentence_case).html_safe %>
        <%= t('insights_blurb_two', number_replied: @responded_topics.count, percentage_replied: number_to_percentage(@responded_topics.count.to_f / @topic_count.to_f * 100.00, precision: 1)).html_safe %>
        <%= t('insights_blurb_three', response_time: distance_of_time_in_words(@median_first_response_time)).html_safe if @responded_topics.count > 0 %>
      <% else %>
        <%= t('no_discussions', period: @interval).html_safe %>
      <% end %>
    </small>
    </h2>
  </div>

</div>

<div class="team-members row">

  <% @agents = Topic.undeleted.select(:assigned_user_id).where('assigned_user_id IS NOT NULL').distinct %>
  <% @agents.each do |t| %>

  <%
    # figure out ideal column width
    # this could (and maybe should) be done with javascript
    @cols = case @agents.count
    when 1
      5
    when 2
      4
    when 3
      3
    when 4
      2
    else
      2
    end
  %>
  <%= render partial: 'agent_stats', object: t %>
  <% end %>

  <div class="col-md-<%= @cols %> col-sm-<%= @cols %> text-center agent invite-cn">
    <div class="add-team-member">
      <%= link_to admin_invite_path do %>
        <i class='fa fa-user-plus'></i><br/>
        <%= t('add_more_agents', default: "Add more Agents") %>
      </div>
      <% end %>
    </div>
  </div>
</div>

</div>
