<%
################################################################################
# NOTE: It is STRONGLY suggested that if you wish to customize the look and feel
# of your Helpy, that you create a custom theme instead.  This will allow
# you to override any views or styles you wish to, without compromising your
# ability to upgrade in the future
################################################################################
%>

  <div class="idea-box col-lg-3 col-md-3 col-sm-4 col-xs-12" data-link="<%= topic_posts_path(grid) %>" id="topic_<%= grid.id %>" >
    <div class="dummy"></div>
    <div class="thumbnail">
      <span class="more-important truncate-ellipsis text-left">
        <%= link_to h(grid.name), topic_posts_path(grid) %>
      </span>
      <div class="text-left">
         <%= grid.posts_count %> comments
      </div>
      <% if grid.forum.allow_post_voting == true %>
      <div id="post-vote-<%= grid.posts.first.id %>" class="grid-vote text-right">
        <%= link_to t(:upvote, count: grid.points), up_vote_path(grid.id), method: :post, remote: true, class: 'topic-vote', data: {voted: grid.to_param}, id: "upvote_#{grid.id}" %>
      </div>
      <% end %>
    </div>

  </div>
