  <div class="idea-box col-lg-3 col-md-3 col-sm-4 col-xs-12" data-link="<%= topic_posts_path(grid) %>">
    <div class="dummy"></div>
    <div class="thumbnail">
      <span class="more-important truncate-ellipsis text-left">
        <%= link_to h(grid.name), topic_posts_path(grid) %>
      </span>
      <div class="text-left">
         <%= grid.posts_count %> comments
      </div>
      <% if grid.forum.allow_post_voting == true %>
      <div id="post-vote-<%= grid.posts.first.id %>" class="grid-vote text-right">
        <%= link_to t(:upvote, count: grid.points), up_vote_path(grid.id), method: :post, remote: true, class: 'topic-vote', data: {voted: grid.to_param} %>
      </div>
      <% end %>
    </div>

  </div>
