<% post = qna.posts.by_votes.first %>

  <div id="post-<%= post.id %>" class="media post-container kind-first<%= " inactive" unless post.active? %>">
    <div class="asked-question">
      <%= distance_of_time_in_words(Time.now,qna.created_at) %> ago <%= post_message(qna.posts.first) %>
    </div>
    <h4 class="qna"><%= link_to h(qna.name), topic_posts_path(qna) -%></h4>



    <div class="pull-left">
  		<%#= image_tag(post.user.image_url, width: '40px', class: 'media-object img-circle') %>
      <%= avatar_image(post.user, size=40) %>
  	</div>
  	<div class="media-body media-right">
  		<span class="hidden-sm hidden-md hidden-lg"><%= post.kind == "first" ? last_active_time(post.created_at) : "#{distance_of_time_in_words(post.created_at,post.topic.created_at)} later" %><br/></span>
  		<span id="row-<%= post.id %>"  class="post-menu post-menu-<%= post.id %> btn-group">
        <%= post_message(post) %>
  			<% if user_signed_in? && current_user.admin? && params[:controller] == 'admin' %>
  				<ul class="dropdown-menu dropdown-menu-left" role="menu">
  					<li><%= link_to 'Edit', edit_post_path(post), remote: true %></li>
  					<li><%= link_to 'Turn post into content', new_doc_path(post_id: post.id, lang: I18n.locale) %></li>
  				</ul>
  			<% end %>
  		</span>

  		<div id="post-body-<%= post.id %>" class="post-body less-important text-left">
  			<span class="shorten"><%= simple_format(post.body) -%></span>

        <% if post.topic.forum.allow_post_voting == true %>
  			<div id="post-vote-<%= post.id %>" class="btn btn-default">
  				<% if post.kind == 'first' %>
  				<%= link_to t(:upvote, count: post.topic.points), up_vote_path(post.topic.id), method: :post, remote: true, class: 'topic-vote', data: {voted: post.topic.to_param} %>
  				<% else %>
  				<%= link_to t(:upvote, count: post.points), post_vote_path(post.id), method: :post, remote: true, class: 'post-vote', data: {voted: post.topic.to_param} %>
  				<% end %>
  			</div>
  			<% end %>

  		</div>



  	</div>
  </div>

<hr/>
