
<h1>Edit Topic</h1>
<%#= error_messages_for :topic %>

  <%= form_for(:topic, :url => topic_path(:id => @topic, :forum_id => @topic.forum),
       :html => { :method => :put }) do |f| %>
    <label>Subject:</label><br /><%= f.text_field :name, :size => 40 -%><br/><br/>
	<label>Category:</label><br/><%= collection_select("topic", "forum_id", Forum.all, :id, :name) %><br/><br/>
	<label>Tags:</label><br/><%= text_field_tag :tags, @topic.tag_list %>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>
