<% if @forum.format == "table" %>

<table id="forums" class="table-hover">

  <% if @forum.allow_topic_voting == true %>
  <col width="5%">
  <% end %>
  <col>
  <col width="5%">
  <col width="10%">

  <tbody>
    <tr>
      <% if @forum.allow_topic_voting == true %>
      <th colspan="3">
      <% else %>

      <th colspan="2">
      <% end %>
        <%= t(:topic) %></th>
  	  <th class="text-right"><%= t(:last_activity) %></th>
    </tr>
    <%= render :partial => 'topic', :collection => @topics %>
  </tbody>
</table>

<% elsif @forum.layout == "grid" %>
<div id="featured-categories" class="row">
  <%= render :partial => 'grid', :collection => @topics %>
</div>
<% end %>



<div class="text-right">
	<%= paginate @topics %>
</div>
