<div id="breadcrumbs">
  <%= link_to 'Forums', forums_path -%> > Ask a New Question
</div>	

<h1>Start a New Discussion</h1>
<div class="add-form">
<% form_for @topic, :url => topics_path, :method => 'post' do |f| -%>
  <p>Category:<br /><%= collection_select(:topic, :forum_id, Forum.all, :id, :name) %></p>
  <p>Subject:<br /><%= f.text_field :name, :size => 40 -%></p>
  <p>Post:<br /><%= text_area :post, :body, :rows => 8, :cols => 60 -%></p>

  <label>Tags:</label><br/>
  <%= text_field_tag :tags %>
  
  <%= submit_tag 'Start Topic', :class => 'submit' %>    
<% end -%>
</div>