
<div class="add-form">
<%= bootstrap_form_for(@topic) do |f| -%>

  <%= f.alert_message "Please fix the errors below." %>

  <%= f.form_group :private, label: { text: t(:should_message_be_private) }, id: 'private-public' do %>
    <%= f.radio_button :private, true, label: t(:only_support_can_respond), inline: false %>
    <%= f.radio_button :private, false, label: t(:responses_can_come_from_everyone), inline: false %>
  <% end %>

  <%= f.collection_select(:forum_id, Forum.where(private: false).all, :id, :name, label: t(:forum_name)) %>
  <%#= f.check_box(:private, label: "Open Private Ticket?") if Settings.tickets %>
  <%= f.text_field :name, :size => 40, label: 'Subject' -%>
  <%= text_area :post, :body, :rows => 8, :cols => 60, label: 'Message' -%>
  <%= hidden_field_tag :client_id %>

  <!--<label>Tags:</label><br/>-->
  <%#= text_field_tag :tags %>

  <%= f.submit 'Start Topic' %>
<% end -%>
</div>
