<table id="topics" class="forum table-hover">

  <col>
  <col width="20%">

  <tr>
    <th><%= t(:topic) %></th>
    <th class="text-right"><%= t(:last_activity) %></th>
  </tr>
  <%= render :partial => 'topics/ticket', :collection => @topics %>
</table>

<% if @topics.total_count == 0 %>
  <div class="text-center verticalness"><%= t(:no_tickets) %></div>
<% end %>


<div class="text-right">
  <%= paginate @topics %>
</div>
