<%
################################################################################
# NOTE: It is STRONGLY suggested that if you wish to customize the look and feel
# of your Helpy, that you create a custom theme instead.  This will allow
# you to override any views or styles you wish to, without compromising your
# ability to upgrade in the future
################################################################################
%>

<%- title "#{AppSettings['settings.site_name']}: #{@page_title}" %>

<div class="ticket-header row vcenter">
  <div class="col-md-8 text-left">
    <span class="truncate-ellipsis">
      <%= t(:subject) %>
    </span>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-1">
  </div>
  <div class="last-active less-important col-md-2 text-right">
    <%= t(:last_activity) %>
  </div>
</div>
<%= render :partial => 'topics/ticket', :collection => @topics %>
<% if @topics.total_count == 0 %>
  <div class="text-center verticalness"><%= t(:no_tickets) %></div>
<% end %>


<div class="text-right">
  <%= paginate @topics %>
</div>
