<tr>
  <td><strong class="more-important"><%= cat.name %></strong><br/><%= link_to "#{cat.docs.count} articles ", admin_articles_path(cat.id), class: 'less-important' %></td>
  <td class="text-right">
    <span id="controls-<%= cat.id %>" class="row-controls hidden">
    <%= link_to 'EDIT', edit_category_path(cat) %>
    <%= link_to '', cat.id.to_s, :confirm => 'Are you sure?', :method => :delete, :class => 'glyphicon glyphicon-remove less-important' %>
    </span>
    <span id="row-<%= cat.id %>" class='toggle-controls glyphicon glyphicon-align-justify'></span>
  </td>
</tr>
