<tr id="forum-<%= forum.id %>">
  <td class="name">
    <div class="more-important">
      <%= link_to h(forum.name), forum_topics_path(:forum_id => forum) -%>
    </div>

    <div class="less-important">
      <%= h(forum.description) -%>
    </div>
  </td>

  <td class="last_post less-important text-right">
    <div class="btn btn-group">
      <span id="row-<%= forum.id %>" data-toggle="dropdown" aria-expanded="false" class='dropdown-toggle glyphicon glyphicon-align-justify'></span>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li><%= link_to t(:edit, default:'Edit'), edit_forum_path(forum) %></li>
        <li><%= link_to t(:delete, default:'Delete'), forum, data: {confirm: 'Please confirm you really want to DELETE this forum and all discussions'}, method: :delete, remote: true, class: 'less-important' %></li>
      </ul>
    </div>
  </td>
</tr>
