<%= simple_form_for(@user, validate: true, remote: true ) do |f| %>

  <%= f.input :email, value: nil, validate: true %>
  <%= f.input :name, value: '' %>
  <%= f.input :company, value: '' %>
  <%= f.input :password, value: '', validate: true %>
  <%= f.input :password_confirmation, autocomplete: "off", validate: true  %>
  <%= f.hidden_field :admin, value: 'true' %>

  <%= hidden_field_tag :source, 'ob' %>
  <div class="text-center onboard-submit-section">
  <%= f.submit t("save_changes"), class: 'btn btn-warning' %>
  </div>
<% end %>
