<div id="ticket-info" class="no-side-pad row">

  <div class="col-md-4 hidden-xs hidden-sm" id="left-col-user-info">
    <%= render 'admin/user_info' %>
  </div>

  <div id="ticket-controls" class="col-md-8 col-xs-12 col-lg-8">
    <h2>
      <%= render 'admin/ticket_nav_dropdown' %> #<%= @topic.id %>- <%= @topic.name -%>
    </h2>
    <div id="topic-options">
    <%= render :partial => 'admin/topic_options' %>
    </div>
    <script>
      Helpy.messages = '<%= j t(:collapsed_messages, count: @posts.count-2) %>';
    </script>
    <div id="posts">
    <%= render :partial => 'posts/post', :collection => @posts %>
    </div>


    <div class="add-form">
      <h4><%= t(:reply_to_this_topic, default: 'Reply to this Topic') %>:</h4>

      <%#= error_messages_for :post -%>

      <%= bootstrap_form_for @topic.posts.new, :url => topic_posts_path(@topic), :remote => true do |f| -%>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

        <%= f.form_group :kind  do %>
          <%= f.radio_button :kind, 'reply', label: t(:reply, default: "Reply"), checked: true, inline: true %>
          <%= f.radio_button :kind, 'note', label: t(:internal_note, default: "Internal Note"), inline: true %>
        <% end %>

        <%= hidden_field_tag :client_id %>
        <%= f.text_area :body, :rows => 8, :cols => 160, hide_label: true, placeholder: t(:type_reply, default: "Type your reply, or select from a common message below") %>
        <%= i18n_reply %>
        <%= f.attachinary_file_field :screenshots unless Cloudinary.config.cloud_name.nil? %>
        <%= f.submit t(:submit_reply), class: 'btn btn-warning' -%>
      <% end -%>

    </div>
  </div>


</div>
