<div id="ticket-info" class="no-side-pad row">

  <div id="ticket-controls" class="no-side-pad col-md-12 col-xs-12 col-md-12 col-lg-12">

    <%= render :partial => 'admin/topic_options' %>

    <%= render :partial => 'posts/post', :collection => @posts %>

    <% if user_signed_in? %>
    <div class="add-form">
    <h4>Reply to this Topic:</h4>
    <%#= error_messages_for :post -%>
    <%= bootstrap_form_for @topic.posts.new, :url => topic_posts_path(@topic), :remote => true do |f| -%>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <%= f.select :kind, ['reply','note'] %>
      <%= hidden_field_tag :client_id %>
      <%= f.text_area :body, :rows => 8, :cols => 160, label: "Type your reply, or select from a common message below" %>
      <%= f.select('reply_id', Doc.replies.collect {|d| [ d.title, d.body ] }, label: "Insert Common Reply", include_blank: true) %>

      <%= f.submit 'Post Reply' -%>
    <% end -%>

    </div>
    <% end -%>
  </div>

<!-- hidden for now
  <div class="col-md-4 hidden-xs hidden-sm" id="left-col-user-info">
    <%#= render 'admin/user_info' %>
  </div>
-->
</div>
