<div id="user-info">
</div>
<table id="topics" class="forum table-hover">

  <col width="80px" class="checkbox-col">
  <col>
  <col width="20%" class="hidden-xs">

  <tr>
    <th><%= check_box_tag 'check-all' %></th>
    <th><%= t(:subject, default: "Subject") %></th>
    <th class="text-right hidden-xs"><%= t(:last_activity, default: "Last Active") %></th>
  </tr>
  <tbody>
  <%= render partial: 'admin/topic', collection: @topics.includes(:assigned_user) %>
  </tbody>
  <tbody id="multiple-edit" style="display:none;">
    <tr>

      <td colspan="3">
        <span class="selected-message tiny-header hidden-xs"></span>
          <span>
          <span class="btn btn-group left-col-dropdown">
            <span class="dropdown-toggle ticket-control tiny-header" data-toggle="dropdown" aria-expanded="false">
              <%= t(:change_status, default: 'Change Status') %> <span class='caret'></span>
            </span>
            <ul class="dropdown-menu ticket-controls" role="menu">
              <li><%= link_to t(:mark_closed, default: 'Mark Closed'), update_ticket_path(change_status: 'closed', status: params[:status]), :remote => true, class: 'multiple-update'  %></li>
              <li><%= link_to t(:reopen, default: 'Reopen'), update_ticket_path(change_status: 'reopen', status: params[:status]), :remote => true, class: 'multiple-update'  %></li>
              <li><%= link_to t(:mark_new, default: 'Mark New'), update_ticket_path(change_status: 'new', status: params[:status]), :remote => true, class: 'multiple-update'  %></li>
              <li><%= link_to t(:mark_spam, default: 'Mark Spam'), update_ticket_path(change_status: 'spam', status: params[:status]), :remote => true, class: 'multiple-update'  %></li>
              <li><%= link_to t(:trash, default: 'Trash'), update_ticket_path(change_status: 'trash', status: params[:status]), :remote => true, class:'multiple-update' %></li>
            </ul>
          </span>

          <span class="btn btn-group left-col-dropdown">
            <span class="dropdown-toggle ticket-control tiny-header" data-toggle="dropdown" aria-expanded="false">
              <%= t(:assign_agent, default: 'Assign Agent') %> <span class='caret'></span>
            </span>
            <ul class="dropdown-menu ticket-controls" role="menu">
              <% @admins.each do |admin| %>
              <li><%= link_to "#{admin.name.titleize} (#{admin.active_assigned_count})", assign_agent_path(assigned_user_id: admin.id, status: params[:status]), :remote => true, class: 'multiple-update' %></li>
              <% end %>
            </ul>
          </span>
        </span>
      </td>
    </tr>
  </tbody>
  <script>
    Helpy.selected = {
      1:'<%= t(:selected_messages, count: 1) %>',
      2:'<%= t(:selected_messages, count: 2) %>',
      3:'<%= t(:selected_messages, count: 9) %>'
    }
  </script>
</table>
<div class="text-center">
  <%= paginate @topics, remote: true %>
</div>
