<h2>
  <%= @topic.name -%>
</h2>
<div>
  <div class="status label label-success"><%= @topic.status %></div>
  <div class="assigned-to">Assigned to: <%= @topic.assigned_user.name %></div>
</div>
<table id="posts">
  <%= render :partial => 'posts/post', :collection => @posts %>
</table>
<% if user_signed_in? && @topic.open? %>
<div class="add-form">
<h4>Reply to this Topic:</h4>
<%#= error_messages_for :post -%>
<%= bootstrap_form_for :post, :url => topic_posts_path(@topic), :remote => true do |f| -%>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <%= f.text_area :body, :rows => 8, :cols => 160 -%></p>
  <%= f.submit 'Post Reply', :class => 'submit' -%>
<% end -%>
</div>
<% end -%>
