<div id="ticket-info" class="no-side-pad col-md-12">
  <div id="ticket-name" class="no-side-pad col-md-8 col-xs-8">
    <h2>
      <%= @topic.name.titleize -%>
    </h2>
    <!--<span class="status"><%= badge_for_status(@topic.status).html_safe %></span>
    <span class="assigned-to">Assigned to: <%= @topic.assigned_user.name.titleize %></span>-->
  </div>
  <div id="ticket-controls" class="col-md-4 col-xs-4 no-side-pad pull-right">
      <div class="btn-group left-col-dropdown">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="status"><%= badge_for_status(@topic.status).html_safe %></span><span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to 'Mark Closed', update_ticket_path(@topic, status: 'closed'), :remote => true unless @topic.status == "closed" %></li>
          <li><%= link_to 'Reopen', update_ticket_path(@topic, status: 'open'), :remote => true unless @topic.status == "open" %></li>
          <li><%= link_to 'Mark New', update_ticket_path(@topic, status: 'new'), :remote => true unless @topic.status == "new" %></li>
          <li><%= link_to 'Mark Spam', update_ticket_path(@topic, status: 'spam'), :remote => true unless @topic.status == "spam" %></li>
        </ul>
      </div>
      <% unless @topic.status == "closed" %>
      <div class="btn-group left-col-dropdown">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Assign<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% @admins.each do |admin| %>
          <li><%= link_to "#{admin.name} (#{admin.active_assigned_count})", update_ticket_path(@topic, assigned_user_id: admin.id), :remote => true unless @topic.status == "closed" %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
  </div>
</div>

<table id="posts">
  <%= render :partial => 'posts/post', :collection => @posts %>
</table>

<% if user_signed_in? && @topic.open? %>
<div class="add-form">
<h4>Reply to this Topic:</h4>
<%#= error_messages_for :post -%>
<%= bootstrap_form_for :post, :url => topic_posts_path(@topic), :remote => true do |f| -%>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <%= f.text_area :body, :rows => 8, :cols => 160 -%></p>
  <%= f.submit 'Post Reply', :class => 'submit' -%>
<% end -%>
</div>
<% end -%>
