
<ul class="list-unstyled border-right">
  <li class="mailbox tiny-header">
    <%= link_to "Waiting", admin_tickets_path(:status => 'pending'), :remote => true, class: 'admin-discussion-nav' %>
    <span class="tiny-header pull-right"><%= @pending %></span>
  </li>
  <li class="mailbox tiny-header">
    <%= link_to "Mine", admin_tickets_path(:status => 'assigned', :assigned_user_id => current_user), :remote => true, class: 'admin-discussion-nav' %>
    <span class="tiny-header pull-right"><%= @mine %></span>
  </li>
</ul>


<ul class="list-unstyled border-right">
  <!--<li class="mailbox tiny-header">
    <%= link_to "New", admin_tickets_path(:status => 'new'), :remote => true %>
    <span class="tiny-header pull-right"><%= @new %></span>
  </li>-->
  <li class="mailbox tiny-header">
    <%= link_to "Unread", admin_tickets_path(:status => 'unread'), :remote => true, class: 'admin-discussion-nav' %>
    <span class="tiny-header pull-right"><%= @unread %></span>
  </li>
  <!--<li class="mailbox tiny-header">
    <%= link_to "Open", admin_tickets_path(:status => 'open'), :remote => true, class: 'admin-discussion-nav' %>
    <span class="tiny-header pull-right"><%= @open %></span>
  </li> -->
  <li class="mailbox tiny-header">
    <%= link_to "Active", admin_tickets_path(:status => 'active'), :remote => true, class: 'admin-discussion-nav' %>
    <span class="tiny-header pull-right"><%= @active %></span>
  </li>
  <li class="mailbox tiny-header">
    <%= link_to "Resolved", admin_tickets_path(:status => 'closed'), :remote => true, class: 'admin-discussion-nav' %>
    <span class="tiny-header pull-right"><%= @closed %></span>
  </li>
  <li class="mailbox tiny-header">
    <%= link_to "Spam", admin_tickets_path(:status => 'spam'), :remote => true, class: 'admin-discussion-nav' %>
    <span class="tiny-header pull-right"><%= @spam %></span>
  </li>
  <%#= link_to "Create New", admin_tickets_path, class: 'list-group-item' %>
</ul>
