<tr id="topic-<%= topic.id %>" class="topic border-bottom link-row admin-discussion">
  <td>
    <div class="user-thumbnail pull-left">
      <%= image_tag(topic.user.image_url, width: '40px', class: 'img-circle') %>
    </div>
    <span class="topic-link more-important">
      <%= link_to topic.name.titleize, admin_ticket_path(topic), :remote => true -%><%= badge_for_status(topic.current_status).html_safe %><%= badge_for_private(topic.private).html_safe %>
    </span>
    <span class="label label-count pull-right"><%= topic.posts.count %></span>
    <br/><span class="less-important">Started By <%= topic.user.name? ? topic.user.name.titleize : topic.user.email %></span>
  </td>
  <td class="last-active less-important text-right">
    <%= last_active_time(topic.last_post_date) %>
  </td>
</tr>
