<tr class="border-bottom">
  <td>
    <div class="user-thumbnail pull-left">
      <%= image_tag(topic.user.image_url, width: '40px', class: 'img-circle') %>
    </div>
    <span class="more-important">
      #<%= topic.id %> <%= link_to topic.name.titleize, admin_ticket_path(topic), :remote => true -%><%= badge_for_status(topic.status).html_safe %>
    </span>
    <br/><span class="less-important">Started By <%= h topic.user.name.titleize %></span>
  </td>
  <td class="less-important"><%#= " and assigned to #{topic.assigned_user.name}" if topic.status == 'open' && topic.assigned_user != nil %></td>
  <td class="less-important"><%= topic.last_post_date.nil? ? "Not Lately" : distance_of_time_in_words_to_now(topic.last_post_date) + " ago" %></td>
</tr>
