<span class="btn-group left-col-dropdown">
  <span class="status dropdown-toggle ticket-control" data-toggle="dropdown" aria-expanded="false">
    <%= control_for_status(@topic.current_status) %>
  </span>
  <ul class="dropdown-menu ticket-controls" role="menu">
    <li><%= link_to t(:mark_closed, default: 'Mark Closed'), update_ticket_path(topic_ids: { "":@topic.id }, change_status: 'closed'), :remote => true unless @topic.current_status == "closed" %></li>
    <li><%= link_to t(:reopen, default: 'Reopen'), update_ticket_path(topic_ids: { "":@topic.id }, change_status: 'reopen'), :remote => true unless @topic.current_status == "open" %></li>
    <li><%= link_to t(:mark_new, default: 'Mark New'), update_ticket_path(topic_ids: { "":@topic.id }, change_status: 'new'), :remote => true unless @topic.current_status == "new" %></li>
    <li><%= link_to t(:mark_spam, default: 'Mark Spam'), update_ticket_path(topic_ids: { "":@topic.id }, change_status: 'spam'), :remote => true unless @topic.current_status == "spam" %></li>
    <li><%= link_to t(:trash, default: 'Trash'), update_ticket_path(topic_ids: { "":@topic.id }, change_status: 'trash'), :remote => true unless @topic.current_status == "trash" %></li>
  </ul>
</span>

<span class="status privacy btn-group left-col-dropdown">
  <span class="privacy-toggle dropdown-toggle ticket-control" data-toggle="dropdown" aria-expanded="false">
    <%= control_for_privacy(@topic.private?) %>
  </span>
  <ul class="dropdown-menu ticket-controls" role="menu">
    <% Forum.where(private: false).alpha.each do |forum| %>
    <li><%= link_to "Move: #{forum.name}", toggle_privacy_path(topic_ids: { "":@topic.id }, private: 'false', forum_id: forum.id), :remote => true %></li>
    <% end %>
    <li><%= link_to 'Mark: Private', toggle_privacy_path(topic_ids: { "":@topic.id }, private: 'true', forum_id: 1), :remote => true %></li>
  </ul>
</span>

<% unless @topic.current_status == "closed" %>
<span class="status btn-group left-col-dropdown">
  <span class="dropdown-toggle ticket-control" data-toggle="dropdown" aria-expanded="false">
    <%= assigned_badge(@topic).html_safe %>
  </span>
  <ul class="dropdown-menu ticket-controls" role="menu">
    <% @admins.each do |admin| %>
    <li><%= link_to "#{admin.name.titleize} (#{admin.active_assigned_count})", assign_agent_path(topic_ids: { "":@topic.id }, assigned_user_id: admin.id), :remote => true unless @topic.current_status == "closed" %></li>
    <% end %>
  </ul>
</span>
<% end %>
