<tr id="topic-<%= topic.id %>" class="topic border-bottom link-row admin-discussion">
  <td>
    <%= check_box_tag "topic_ids[]", topic.id, false, class: 'topic-checkbox pull-left' %>
    <span class="user-thumbnail pull-right hidden-xs">
      <%= link_to avatar_image(topic.user, size=40), user_profile_path(topic.user.id), remote: true %>
    </span>
  </td>

  <td>
    <span class="topic-link more-important truncate-ellipsis">
      <%= link_to "##{topic.id}- #{topic.name}", admin_ticket_path(topic), remote: true -%><%= badge_for_status(topic.current_status) %><%= badge_for_private if topic.private? %>
    </span>
    <span class="less-important user-link">
      <%= link_to t(:started_by, username: topic.user.name? ? topic.user.name.titleize : topic.user.email, default: "Started by #{topic.user.name? ? topic.user.name.titleize : topic.user.email}"), user_profile_path(topic.user.id), remote: true %>
      - <%= assigned_to(topic) %>
    </span>
  </td>

  <td class="last-active less-important text-right hidden-xs">
    <span class="label label-count hidden-xs pull-left"><%= topic.posts_count %></span>
    <%= last_active_time(topic.updated_at) %>
  </td>
</tr>
