<tr class="<%= cycle('even', 'odd') %>">
  <td>
    <div class="topic-points right-space">
  <%#= @topic.points %>
</div>

    <%= link_to h(topic.name), admin_ticket_path(topic), :remote => true -%><br/><span class="author">Started By <%= h topic.user.name %></span>
  </td>
<td><%#= image_tag("icons/001_42.png", :class => 'icon') if topic.private? %></td>
<td><%= topic.status.titleize %></td>
<td><%= topic.posts_count - 1 %></td>
<td><%= topic.last_post_date.nil? ? "Not Lately" : distance_of_time_in_words_to_now(topic.last_post_date) + " ago" %></td>
</tr>
