
<div id="user-info-horizontal" class="row">

  <div class='col-md-4 col-sm-6 col-xs-12 text-center' id='user-info-image'>
    <%= avatar_image(@user, size=150) %>
  </div>
  <div class='hidden-sm hidden-xs col-md-2' style="height: 100px"><!-- spacer for design--></div>
  <div id="user-contact-info" class="col-md-3 col-sm-3 col-xs-6 user-info">
    <div class="tiny-header"><%= @user.name? ? @user.name.titleize : @user.email %> (<%= link_to t(:edit, default: 'Edit'), admin_user_path(@user), remote: true %>)</div>
    <span class="small">
      <%= @user.company.titleize unless @user.company.nil? %><br/>
      <%= @user.city.titleize + ', ' unless @user.city.nil? %> <%= @user.state.titleize unless @user.state.nil? %>
      <%#= @topic.user.country.titleize unless @topic.user.country.nil? %>
    </span>
  </div>
  <div id="user-contact-info" class="col-md-3 col-sm-3 col-xs-6  user-info">
    <div class="tiny-header"><%= t(:contact_info, default: "Contact") %>:</div>
    <%= t(:work_phone, default: "work") %>: <%= @user.work_phone %><br/>
    <%= t(:cell_phone, default: "cell") %>: <%= @user.cell_phone %><br/>
    <%= @user.email %><br/>
  </div>
  <div id="user-bio-info" class="col-md-3 col-sm-3 col-xs-6 user-info">
    <div class="tiny-header"><%= t(:bio, default: "Bio") %>:</div>
    <%= @user.bio %><br/>
  </div>

  <div id="user-social-info" class="col-md-3 col-sm-3 col-xs-6  user-info">
    <div class="tiny-header"><%= t(:social_info, default: "Social") %>:</div>
    Twitter: <%= @user.twitter %><br/>
    Linkedin: <%= @user.linkedin %><br/>
  </div>


</div>
