
<div id="user-info-horizontal" class="row">

  <div class='col-md-4 col-sm-4 col-xs-6 text-center' id='user-info-image'>
    <%= image_tag(@topic.user.image_url, width: '150px', class: 'img-circle') %>
  </div>
  <div id="user-contact-info" class="col-md-4 col-sm-4 col-xs-4 user-info">
    <div class="tiny-header"><%= @topic.user.name? ? @topic.user.name.titleize : @topic.user.email %></div>
    <span class="small">
      <%= @topic.user.company.titleize unless @topic.user.company.nil? %><br/>
      <%= @topic.user.city.titleize + ', ' unless @topic.user.city.nil? %> <%= @topic.user.state.titleize unless @topic.user.state.nil? %>
      <%#= @topic.user.country.titleize unless @topic.user.country.nil? %>
    </span>
  </div>
  <div id="user-contact-info" class="col-md-4 col-sm-4 col-xs-4  user-info">
    <div class="tiny-header">Contact:</div>
    work: <%= @topic.user.work_phone %><br/>
    cell: <%= @topic.user.cell_phone %><br/>
    <%= @topic.user.email %><br/>
  </div>

</div>
