<div id="user-info" class="row">
    <div class='col-md-12 text-center' id='user-info-image'>
      <%= image_tag(@topic.user.image_url, width: '90px', class: 'img-circle') %>
    </div>
</div>
<div class="row">
  <div class='col-md-12' id='user-info-info'>
    <h4>
      <%= @topic.user.name.titleize %><br/>
      <span class="small">
        <%= @topic.user.company.titleize unless @topic.user.company.nil? %><br/>
        <%= @topic.user.city.titleize + ', ' unless @topic.user.city.nil? %> <%= @topic.user.state.titleize unless @topic.user.state.nil? %>
        <%#= @topic.user.country.titleize unless @topic.user.country.nil? %>
      </span>
    </h4>

    <div id="user-contact-info" class="user-info">
      <div class="tiny-header">Contact:</div>
      work: <%= @topic.user.work_phone %><br/>
      cell: <%= @topic.user.cell_phone %><br/>
      <%= @topic.user.email %><br/>
    </div>


    <div id="user-tickets" class="user-info">
      <div class="tiny-header">Tickets:</div>
      <ul class='list-unstyled'>
      <% @topic.user.topics.isprivate.each do |ticket| %>
        <li><%= link_to(ticket.name.titleize, admin_ticket_path(ticket)) %><span class="status pull-right"><%= badge_for_status(@topic.status).html_safe %></span>
      <% end %>
      </ul>
    </div>
  </div>
</div>
