
<div id="user-info-horizontal" class="row">

  <div class='col-md-4 col-sm-6 col-xs-6 text-center' id='user-info-image'>
    <%= image_tag(@user.image_url, width: '150px', class: 'img-circle') %>
  </div>
  <div id="user-contact-info" class="col-md-4 col-sm-4 col-xs-4 user-info">
    <div class="tiny-header"><%= @user.name? ? @user.name.titleize : @user.email %></div>
    <span class="small">
      <%= @user.company.titleize unless @user.company.nil? %><br/>
      <%= @user.city.titleize + ', ' unless @user.city.nil? %> <%= @user.state.titleize unless @user.state.nil? %>
      <%#= @topic.user.country.titleize unless @topic.user.country.nil? %>
    </span>
  </div>
  <div id="user-contact-info" class="col-md-4 col-sm-4 col-xs-4  user-info">
    <div class="tiny-header"><%= t(:contact_info, default: "Contact") %>:</div>
    <%= t(:work_phone, default: "work") %>: <%= @user.work_phone %><br/>
    <%= t(:cell_phone, default: "cell") %>: <%= @user.cell_phone %><br/>
    <%= @user.email %><br/>
  </div>

</div>
