<tr id="user-<%= user.id %>" class="user">
  <td>
    <div class="user-thumbnail pull-left user-link">
      <%= link_to avatar_image(user, size=40), user_profile_path(user.id), remote: true %>
    </div>
  </td>
  <td class="user-link">
    <span class="more-important"><%= link_to user.name.titleize, user_profile_path(user.id), remote: true, class: 'user-link' %></span><br/>
    <span class="less-important last-active">Last Seen: <%= last_active_time(user.last_sign_in_at) %></span>
  </td>

  <td></td>
  <td>
    <span class="label label-count pull-right"><%= user.topics.count %></span>
  </td>
</tr>
