<h1><%= "#{@category.name} Articles" %></h1>
<div class="row">
  <div class="col-md-12">
    <table id="forums">
      <col width="85%">
      <col width="15%">
      <% @docs.each do |doc| %>
      <tr>
        <td>
          <span class="more-important"><%= link_to doc.title, edit_category_doc_path(doc.category.id, doc.id)  %> <%= ' - Featured' if doc.front_page == true %></span>
          <br/>
          <span class="less-important">Written <%= doc.created_at.strftime("%m/%d/%Y") %> | Last Updated: <%= doc.updated_at? ? "Not Lately" : distance_of_time_in_words_to_now(doc.updated_at) + " ago" %></span>
        </td>
        <td class="text-right"><%= link_to '', category_doc_path(doc.category.id, doc.id), :confirm => 'Are you sure?', :method => :delete, :class => 'glyphicon glyphicon-remove less-important' %></td>
      </tr>
      <% end %>
    </table>

    <br />

    <%#= link_to 'New doc', new_doc_path %>
  </div>
</div>
