<h1>Admin Knowledgebase</h1>
<div class="row">
  <div class="col-md-12">
    <table id="forums">
      <tr>
        <th>Name</th>
      <th colspan="4"></th>
      </tr>

    <% for cat in @categories %>
      <tr>
        <td><%=h cat.name %></td>
        <td><%= cat.section %></td>
        <td><%= link_to 'Articles', admin_articles_path(cat.id) %></td>
        <td><%= link_to 'Edit', edit_category_path(cat.id) %></td>
        <td><%= link_to 'Destroy', cat.id.to_s, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-12 add-form">
    <h4>Add a New Category:</h4>

    <%= bootstrap_form_for(Category.new) do |f| %>
      <%#= f.error_messages %>

      <%= f.text_field :name %>
      <%= f.text_field :title_tag %>
      <%= f.text_field :meta_description %>
      <%= f.text_field :keywords %>
      <%= f.check_box :active %>
      <%= f.submit "Add Category" %>

    <% end %>

  </div>
</div>
