<script>
$(document).ready(function(){
  $('.toggle-controls').on("click", function(e){
    //get ID
    var id = e.target.id.split('-')[1];
    console.log('ID is ' + id);
    // reveal corresponding id controls
    $('#controls-' + id).removeClass('hidden');
  });
});
</script>

<h2><%= t(:content, default: 'Content') %><span class="admin-options text-right pull-right">
  <%= link_to t(:new_category, default: "New Category"), new_category_path, class: 'btn btn-primary' %>
  <%= link_to t(:new_content, default: "New Content"), new_doc_path, class: 'btn btn-primary' %>
</span></h2>



<div class="row">
  <div class="col-md-12">
    <table id="forums" class="table-hover">

      <col>
      <col width="5%">
      <tbody id="categories">
      <tr>
        <td colspan="2" class='tiny-header'><%= t(:front_page_categories, default: 'Front Page Categories') %></td>
      </tr>
      <%= render partial: 'cat', collection: @categories %>

      <% if @nonfeatured.count > 0 %>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td colspan="2" class='tiny-header'><%= t(:other_categories, default: 'Other Categories') %></td>
        </tr>
        <%= render partial: 'cat', collection: @nonfeatured %>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
<br/>
