<h1>Admin Knowledgebase</h1>
<div class="row">
  <div class="col-md-12">
    <table id="forums">
      <tr>
        <th>Name</th>
      <th colspan="4"></th>
      </tr>

    <% for cat in @categories %>
      <tr>
        <td><%=h cat.name %></td>
        <td><%= cat.section %></td>
        <td><%= link_to 'Articles', admin_articles_path(cat.id) %></td>
        <td><%= link_to 'Edit', edit_category_path(cat.id) %></td>
        <td><%= link_to 'Destroy', cat.id.to_s, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-12 add-form">
    <h4>Add a New Category:</h4>

    <%= form_for(Category.new) do |f| %>
      <%#= f.error_messages %>

      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>
      <!--
      <p>
        <%#= f.label :section %><br />
        <%#= f.text_field :section %>
      </p>
    -->
      <p>
        <%= f.label :active %><br />
        <%= check_box_tag :active %>
      </p>
      <p>
        <%= f.label :rank %><br />
        <%= check_box_tag :rank %>
      </p>
      <p>
        <%= f.submit "Create" %>
      </p>
    <% end %>

  </div>
</div>
