<div id="panel-1" class="onboard-panel text-center">

  <div class="onboard-message">
    <h2>Welcome to Helpy!</h2>
    <h4>All around the globe, companies like yours are using Helpy to provide better customer service and support. It's exciting to have you on board!</h4>
  </div>
  <div class="welcome-image">
  <%= image_tag 'HelpyBrowser.png', width: '70%' %><br/>
  </div>
  <div class="onboard-submit-section">
    <%= link_to "Let's set up your Helpy", '#', class: 'btn btn-primary panel-link', data: { panel: 2 } %>
  </div>
</div>


<div id="panel-2" class="onboard-panel text-center hidden">

  <div class="onboard-message">
    <h2>Great! Lets Customize your Helpdesk:</h2>
  </div>

  <div class="text-left">
  <%= bootstrap_form_tag url: update_settings_path, method: 'put', remote: true do |f| %>

    <%= f.text_field 'settings.site_name', value: AppSettings['settings.site_name'], label: "Site Name" %>
    <%= f.text_field 'settings.parent_site', value: AppSettings['settings.parent_site'], label: "Parent Site" %>
    <%= f.text_field 'settings.parent_company', value: AppSettings['settings.parent_company'], label: "Parent Company" %>
    <%= f.hidden_field 'source', value: 'ob' %>
    <div class="onboard-submit-section">
      <%= f.submit "Save Settings", class: 'btn btn-warning' %>
    </div>
  <% end %>
  </div>
</div>
<div id="panel-3" class="onboard-panel hidden text-center">
  <div class="onboard-message">
    <h2>Customize your login</h2>
  </div>
  <div class="edit-admin text-left">
    <%= render 'admin/onboard_user' %>
  </div>

</div>
<div id="panel-4" class="onboard-panel hidden text-center">
  <div class="onboard-message">
    <h2>Your customers will thank you!</h2>
  </div>
  <div class="edit-admin text-left">
    Your Helpy is ready to go!  You can customize more in the settings area!
    <div class="onboard-submit-section text-center">
      <%= link_to "Get Started!", complete_onboard_path, class: 'btn btn-primary', remote: true %>
    </div>


  </div>

</div>
