
<h2>Settings</h2>

<div class="row">
  <div class="col-md-3">
    <ul>
      <li>System Settings</li>
      <li>Images</li>
      <li>International Support</li>
      <li>Embed Widget</li>
    </ul>
  </div>
  <div class="col-md-9">
    <%= bootstrap_form_tag url: update_settings_path, method: 'put' do |f| %>

      <h4>General Settings:</h4>
      <%= f.text_field 'settings.site_name', value: AppSettings['settings.site_name'], label: "Site Name" %>
      <%= f.text_field 'settings.parent_site', value: AppSettings['settings.parent_site'], label: "Parent Site" %>
      <%= f.text_field 'settings.parent_company', value: AppSettings['settings.parent_company'], label: "Parent Company" %>
      <%= f.text_field 'settings.site_tagline', value: AppSettings['settings.site_tagline'], label: "Site Tagline" %>
      <%= f.text_field 'settings.product_name', value: AppSettings['settings.product_name'], label: "Product Name" %>
      <%= f.text_field 'settings.support_phone', value: AppSettings['settings.support_phone'], label: "Support Phone" %>
      <%= f.text_field 'settings.google_analytics_id', value: AppSettings['settings.google_analytics_id'], label: "Google Analytics ID" %>


      <br/>
      <h4>Images:</h4>
      <div class="row">
        <div class="col-md-1">
          <%= image_tag(AppSettings['logos.header_logo'], width: 40, class: 'pull-left') %>
        </div>
        <div class="col-md-11">
          <%= f.text_field 'logos.header_logo', value: AppSettings['logos.header_logo'], label: "Header Logo" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <%= image_tag(AppSettings['logos.footer_mini_logo'], width: 40, class: 'pull-left') %>
        </div>
        <div class="col-md-11">
          <%= f.text_field 'logos.footer_logo', value: AppSettings['logos.footer_mini_logo'], label: "Footer Logo" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <%= image_tag(AppSettings['logos.favicon'], width: 40, class: 'pull-left') %>
        </div>
        <div class="col-md-11">
          <%= f.text_field 'logos.favicon', value: AppSettings['logos.favicon'], label: "Favicon" %>
        </div>
      </div>


      <br/>
      <h4>International Support:</h4>
      <%= select_default_locale%>
      Supported Locales:
      <% I18n.available_locales.each do |locale| %>
        <%= f.check_box 'i18n.available_locales', { multiple: true, label: I18n.translate("language_name", locale: locale.to_s), checked: AppSettings['i18n.available_locales'].include?(locale.to_s) }, "#{locale}", nil  %>
      <% end %>
      <br/>

      <h4>Embed Widget</h4>
      <p>Add the embed widget to your site using the following URL:<br/>
        <code><%= "<script src='//#{request.host_with_port}/assets/widget.v1.js'></script>" %></code>

      </p>


      <%= f.submit "Save Settings", class: 'btn btn-warning' %>
    <% end %>
  </div>
</div>
