<%#= render 'admin/ticket_stats' %>

<h2 id="ticket-page-title">
  <%= t(:discussions, default: "Discussions") %>: <span class='label <%= status_class(@status) %>' style='text-transform: uppercase'><%= status_label(@status) if @status %></span> <%= render 'admin/ticket_nav_dropdown' %> <span class="hidden-xs pull-right"><%= link_to t(:open_new_discussion, default: "Open Discussion"), admin_new_ticket_path, remote: true, class: 'btn btn-primary' %></span>
</h2>

<div class="row">
  <div class="col-md-3 hidden-lg hidden-md hidden-xs hidden-sm" id="left-col-ticket-nav">
    <%= render 'ticket_nav' %>
  </div>

  <div class="col-md-12" id="tickets">
    <%= render 'tickets' %>
  </div>


</div>
