$('#tickets').html("<%= escape_javascript(render 'admin/tickets') %>");
$('.ticket-stats').html("<%= j render 'admin/ticket_stats' %>");
$('#user-info').html("<%= j render 'admin/user_info_horizontal' if @user %>");

<% if @user %>
window.location.hash = 'user_profile_<%= @user.id %>';
$('#ticket-page-title').show().html("<%= @user.name.titleize %> <span class='hidden-xs pull-right'><%= j link_to t(:open_new_discussion, default: 'Open Discussion'), admin_new_ticket_path, remote: true, class: 'btn btn-primary' %></span><%= escape_javascript(render 'admin/ticket_nav_dropdown') %>");
//$('#ticket-page-title').html("");
$(document).prop('title', "<%= @user.name.titleize %>");
<% else %>
window.location.hash = '<%= @status %>';
//$('#ticket-page-title').html("<%= t(:discussions, default: 'Discussions') %>: <span class='label <%= status_class(@status) %>' style='text-transform: uppercase'><%= status_label(@status) if @status %></span> <span class='hidden-xs pull-right'><%= j link_to t(:open_new_discussion, default: 'Open Discussion'), admin_new_ticket_path, remote: true, class: 'btn btn-primary' %></span><%= escape_javascript(render 'admin/ticket_nav_dropdown') %>");
$('#ticket-page-title').show().html("<%= t(:discussions, default: 'Discussions') %>: <span class='label <%= status_class(@status) %>' style='text-transform: uppercase'><%= status_label(@status) if @status %></span> <span class='hidden-xs pull-right'><%= j link_to t(:open_new_discussion, default: 'Open Discussion'), admin_new_ticket_path, remote: true, class: 'btn btn-primary' %></span><%= escape_javascript(render 'admin/ticket_nav_dropdown') %>");
$(document).prop('title', "<%= t(:discussions, default: 'Discussions') %>: <%= @status.titleize if @status %>");
<% end %>

// Empty ticket search field
$('q').val();

// Update timestamps
$('.last-active time[data-time-ago]').timeago();

// Send ping to GA
ga('send', 'pageview');

// jQuery hook
Helpy.ready();
Helpy.track();
