$('#tickets').html("<%= escape_javascript(render 'users') %>");
//$('#left-col-ticket-nav').html("<%= escape_javascript(render 'ticket_nav') %>");
$('.ticket-stats').html("<%= j render 'admin/ticket_stats' %>");
$('#user-info').html("<%= j render 'admin/user_info_horizontal' if @user %>");
$('#ticket-page-title').html("<%= t(:users_found, count: @users.size, query: params[:q].titleize, default: 'Search Results') %>: <%= status_label(@status) if @status %> <span class='hidden-xs pull-right'><%= j link_to t(:open_new_discussion, default: 'Open Discussion'), admin_new_ticket_path, remote: true, class: 'btn btn-primary' %></span><%= escape_javascript(render 'admin/ticket_nav_dropdown') %>");
$(document).prop('title', "Discussion Management: <%= @status.titleize if @status %>");
window.location.hash = 'users';

// Empty ticket search field
$('q').val("");

// Update timestamps
$('.last-active time[data-time-ago]').timeago();

// Send ping to GA
ga('send', 'pageview');

// jQuery hook
Helpy.ready();
Helpy.track();
