<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body <%= 'dir=rtl' if %w(ar dv he iw fa nqo ps sd ug ur yi).include?(@topic.locale) %>>
    <p>
      <%= t('above_this_line', default: "Make sure your reply appears above this line") %><br/>
      =================================================================<br/>
      <%= t('message_id', default: 'Message ID') %>:<%= @topic.id %></br>
    </p>
    <p>
      <%= t('notify_new_private', user_name: "#{@user.name} (#{@user.email})", default: 'A new private customer message has been received from %{user_name}:') %>
    </p>
    <p>
      <%= simple_format(@topic.posts.last.body) %>
    </p>
    <p>
      <%= t('to_reply', default: 'Reply directly to this email or view this online:') %> <%= admin_topic_url(@topic, host: AppSettings['settings.site_url']) %>
    </p>
  </body>
</html>
