<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body <%= 'dir=rtl' if %w(ar dv he iw fa nqo ps sd ug ur yi).include?(@topic.locale) %>>
    <p>
      <%= t('above_this_line', default: "Make sure your reply appears above this line") %><br/>
      =================================================================<br/>
      <%= t('message_ids', default: 'Message ID(s)') %>:<%= @bulk_topics.collect(&:id).join(', ') %></br>
    </p>
    <p>
      <%= t('notify_ticket_assigned', default: 'You have recently been assigned to the following topic(s):') %>
    </p>
    <ol>
      <% @bulk_topics.each do |topic| %>
        <li><%= topic.name + '  '%><%= link_to 'View', topic %></li>
      <% end %>
    </ol>
    <p>
      <%= t('to_reply', default: 'Reply directly to this email or view this online:') %> <%= admin_topic_url(@topic, host: AppSettings['settings.site_url']) %>
    </p>
  </body>
</html>
