<li class="<%= rtl? ? 'text-right' : 'text-left' %> nav-item ticket-nav-<%= status %> <%= 'more-important nav-active' if @status == status %>">
  <%= link_to  admin_topics_path(:status => status), :remote => true, class: "pipeline-#{status}" do %>
    <%= content_tag :span, label %>
    <%= content_tag :span, count,  class: 'badge' %>
  <% end %>
</li>
