
<div class="left-nav-header">
  <span class="tiny-header"><%= t('inbox')%></span>
  <%= hide_responsive_nav %>
</div>
<ul class="list-unstyled nav-items"  data-hook="ticket-stats">
  <%= render partial: 'admin/topics/nav_item', locals: { status: 'active', label: t(:active), count: @active } %>
  <%= render partial: 'admin/topics/nav_item', locals: { status: 'new', label: t(:new), count: @new } %>
  <%= render partial: 'admin/topics/nav_item', locals: { status: 'mine', label: t(:mine), count: @mine } %>
  <%= render partial: 'admin/topics/nav_item', locals: { status: 'pending', label: t(:pending), count: @pending } %>
  <% if current_user.is_admin? %>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <%= render partial: 'admin/topics/nav_item', locals: { status: 'spam', label: t(:spam), count: @spam } %>
    <%= render partial: 'admin/topics/nav_item', locals: { status: 'trash', label: t(:trash), count: @trash } %>
  <% end %>
</ul>
