
<div id="discussion-flow" class="hidden-xs">
  <div class="tiny-header"><%= t(:support_pipeline, default: "Support Pipeline") %>:</div>

  <div id="admin-stats" class="row">
    <div class="has-arrow col-md-2 col-sm-2 col-xs-2 text-center">
      <div class="dummy"></div>
      <div class="stats">
        <h2><%= number_to_human(@new) %></h2>
        <%= link_to t(:new, default: "New"), admin_topics_path(:status => 'new'), :remote => true, class: 'tiny-header admin-discussion-nav pipeline-new' %>
      </div>
    </div>
    <div class="has-arrow col-md-2 col-sm-2 col-xs-2 text-center">
      <div class="dummy"></div>
      <div class="stats">

      <h2><%= number_to_human(@active) %></h2>
      <%= link_to t(:active, default: "Active"), admin_topics_path(:status => 'active'), :remote => true, class: 'tiny-header admin-discussion-nav pipeline-active' %>
      </div>
    </div>
    <div class="has-arrow col-md-2 col-sm-2 col-xs-2 text-center">
      <div class="dummy"></div>
      <div class="stats">

        <h2><%= number_to_human(@open) %></h2>
        <%= link_to t(:open, default: "Open"), admin_topics_path(:status => 'open'), :remote => true, class: 'tiny-header admin-discussion-nav pipeline-open' %>
      </div>
    </div>
    <div class="has-arrow col-md-2 col-sm-2 col-xs-2 text-center">
      <div class="dummy"></div>
      <div class="stats">

        <h2><%= number_to_human(@mine) %></h2>
        <%= link_to t(:mine, default: "Mine"), admin_topics_path(:status => 'assigned', :assigned_user_id => current_user), :remote => true, class: 'tiny-header admin-discussion-nav pipeline-mine' %>
      </div>
    </div>
    <div class="has-arrow col-md-2 col-sm-2 col-xs-2 text-center">
      <div class="dummy"></div>
      <div class="stats">

        <h2><%= number_to_human(@pending) %></h2>
        <%= link_to t(:pending, default:"Pending"), admin_topics_path(:status => 'pending'), :remote => true, class: 'tiny-header admin-discussion-nav pipeline-pending' %>
      </div>
    </div>
    <div class="no-arrow col-md-2 col-sm-2 col-xs-2 text-center">
      <div class="dummy"></div>
      <div class="stats">
        <h2><%= number_to_human(@closed) %></h2>
        <%= link_to t(:closed, default: "Resolved"), admin_topics_path(:status => 'closed'), :remote => true, class: 'tiny-header admin-discussion-nav pipeline-closed' %>
      </div>
    </div>
  </div>
</div>
