<div id="ticket-info" class="no-side-pad row">

  <div class="col-md-3 hidden-xs hidden-sm" id="left-col-user-info">
    <%= render partial: 'admin/users/user_info' %>
  </div>

  <div id="ticket-controls" class="col-md-9 col-xs-12 col-lg-8">
    <div class="topic-tags hidden-lg hidden-md hidden-sm"><%= formatted_tags(@topic) %></div>

    <h2 class="topic-number-name">

      <%= render 'admin/topics/ticket_nav_dropdown' %>
      <span class="topic-number">#<%= @topic.id %></span>-
      <%= best_in_place @topic, :name, url: admin_topic_path(@topic), :class => "edit-topic-name" -%>&nbsp;

      <div class="pull-right">
        <span class="btn-group left-col-dropdown">
          <%= link_to content_tag(:span, '', class: 'fa fa-ellipsis-v ticket-ellipsis'), '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' }%>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><%= link_to t('change_owner', default: 'Change author'), '#', data: { toggle: "modal", target: "#change-user-modal-#{@topic.posts.first.id}" } if @topic.posts.present? %></li>
            <li><%= link_to t('tag_with', default: 'Tag ticket'), '#', class: 'add-tag-link' %></li>
          </ul>
        </span>
      </div>
    </h2>

    <div class="topic-tag-form" style="display: none;">
      <%= simple_form_for @topic, url: admin_update_topic_tags_path(id: @topic.id), remote: true, html: { class: 'form-inline' } do |f| %>
        <%= f.input_field :tag_list, value: @topic.tag_list.to_s, class: 'selectize form-control', style: 'width: 80%;'%>
        <%= f.submit "Save", class: 'form-control' %>
      <% end %>
    </div>
    <div id="topic-options">
      <%= render :partial => 'admin/topics/topic_options' %>

      <div class="topic-tags pull-right">
        <span class="btn-group left-col-dropdown pull-right">
          <%= content_tag :span, formatted_tags(@topic), class: ' hidden-xs' %>
        </span>
      </div>
    </div>
    <% if @posts  %>
      <script>
        Helpy.messages = '<%= j t(:collapsed_messages, count: (@posts.count-@topic.posts.notes.count)-2) %>';
      </script>
    <% end %>
    <div id="posts">
    <%= render :partial => 'admin/topics/post', :collection => @posts %>
    </div>

    <%= render partial: 'admin/topics/hidden_notes' if @topic.posts.notes.count > 0 %>

    <div class="add-form">
      <h4><%= t(:reply_to_this_topic, default: 'Reply to this Topic') %>:</h4>

      <%= bootstrap_form_for @topic.posts.new, url: admin_topic_posts_path(@topic), remote: true, multipart: true do |f| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

        <%= f.form_group :kind  do %>
          <%= f.radio_button :kind, 'reply', label: t(:reply, default: "Reply"), checked: true, inline: true %>
          <%= f.radio_button :kind, 'note', label: t(:internal_note, default: "Internal Note"), inline: true %>
          <%= content_tag(:span, '', class: 'fa fa-angle-down pull-right cc-bcc-toggle', role: 'button') %>
        <% end %>
        <span class="cc-bcc hidden">
        <%= f.text_field :cc, hide_label: true, placeholder: 'cc:' %>
        <%= f.text_field :bcc, hide_label: true, placeholder: 'bcc:' %>
        </span>

        <%= hidden_field_tag :client_id %>
        <%= hidden_field_tag :from, 'admin' %>
        <%= f.text_area :body, :rows => 8, :cols => 160, hide_label: true, placeholder: t(:type_reply, default: "Type your reply, or select from a common message below"), class: 'disable-empty' %>

        <%= label_tag 'post_reply_id', "#{t(:select_common, default: 'Insert Common Reply')} (#{link_to(t(:edit, default: 'Edit'), admin_category_path(1), target: 'blank')})".html_safe, class: 'control-label' %>
        <%= f.select_tag 'post[reply_id]', grouped_options_for_select(i18n_reply_grouped_options, nil, prompt: ''), class: 'form-control', id: 'post_reply_id' %>
        <br/>
        <%= f.attachinary_file_field :screenshots if cloudinary_enabled? %>
        <%= f.file_field :attachments, multiple: true unless cloudinary_enabled? %>
        <%= f.submit t(:submit_reply), class: 'btn btn-warning disableable', disabled: true -%>
        <%= f.check_box :resolved, label: t(:mark_as_resolved, default: "Mark as resolved"), inline: true unless @topic.current_status == 'closed' %>
      <% end -%>

    </div>
  </div>


</div>
<script type="text/javascript">
Helpy.showhidenotes = function(){
  $('.show-hide-notes').off().on('click', function(){
    $('.kind-note').toggle();
    $('.post-container.kind-reply.disallow-post-voting').show();
    $('.collapsed-posts').hide();
    return false;
  });
}


$(document).ready(function(){
  $('.topic-tags li, .add-tag-link').on('click', function(){
    $('.topic-tag-list').toggle();
    $('.topic-tag-form').toggle();
    $('.selectize').selectize({
      delimiter: ',',
      persist: false,
      create: function(input) {
          return {
              value: input,
              text: input
              }
          }
    });
    return false;
  });

  if ($('.kind-note').size() > 3) {
    $('.sticky-note').show();
    Helpy.showhidenotes();

  } else {
    $('.kind-note').show();
    $('.sticky-note').hide();
  }

});
</script>
