$('#tickets').html("<%= escape_javascript(render 'admin/topics/tickets') %>");
$('.ticket-stats').html("<%= j render 'admin/topics/ticket_stats' %>");
$('#user-info').html("<%= j render 'admin/users/user_info_horizontal' if @user %>");

<% if params[:mode] == 'edit' # This is used when the admin clicks edit from user search %>
$('#user-info-horizontal').html("<%= j render partial: 'admin/users/edit' %>");
<% end %>

<% if @user %>
$('#ticket-page-title').show().html("<%= @user.name.titleize %> <span class='hidden-xs pull-right'><%= j link_to t(:open_new_discussion, default: 'Open Discussion'), new_admin_topic_path, remote: true, class: 'btn btn-primary' %></span><%= escape_javascript(render 'admin/topics/ticket_nav_dropdown') %>");
//$('#ticket-page-title').html("");
$(document).prop('title', "<%= admin_title %> <%= @user.name.titleize %>");
<% else %>
$('#ticket-page-title').show().html("<%= t(:discussions, default: 'Discussions') %>: <span class='label <%= status_class(@status) %>' style='text-transform: uppercase'><%= status_label(@status) if @status %></span> <span class='hidden-xs pull-right'><%= j link_to t(:open_new_discussion, default: 'Open Discussion'), new_admin_topic_path, remote: true, class: 'btn btn-primary' %></span><%= escape_javascript(render 'admin/topics/ticket_nav_dropdown') %>");
$(document).prop('title', "<%= admin_title %> <%= t(:discussions, default: 'Discussions') %>: <%= @status.titleize if @status %>");
<% end %>

// Empty ticket search field and show
$('#q').val('');

// Update timestamps
$('.last-active time[data-time-ago]').timeago();

// Send ping to GA
ga('send', 'pageview');

// jQuery hook
Helpy.ready();
Helpy.track();
Helpy.logHistory();

// RTL changes?
<%= "Helpy.rtl();" if rtl? %>
