<div class="row keyboard-shortcuts">
  <div class="col-md-12">
    <h3><%= t(:keyboard_shortcuts, default: "Keyboard shortcuts") %></h3>
  </div>
</div>
<div class="row keyboard-shortcuts">
  <div class="col-sm-6 col-md-6">
    <span class="text-left"><h4><%= t(:listing_views, default: "Listing Views") %></h4></span>
    <ul class="list-unstyled">
      <li class="shortcut-row"><span class="key">G</span> <%= t(:shortcut_then, default: "then") %> <span class="key">N</span> <%= t(:show_new_tickets, default: "Show new tickets") %></li>
      <li class="shortcut-row"><span class="key">G</span> <%= t(:shortcut_then, default: "then") %> <span class="key">A</span> <%= t(:show_all_tickets, default: "Show all tickets") %></li>
      <li class="shortcut-row"><span class="key">G</span> <%= t(:shortcut_then, default: "then") %> <span class="key">O</span> <%= t(:show_open_tickets, default: "Show open tickets") %></li>
      <li class="shortcut-row"><span class="key">G</span> <%= t(:shortcut_then, default: "then") %> <span class="key">M</span> <%= t(:show_tickets_assigned_to_you, default: "Show tickets assigned to you") %></li>
      <li class="shortcut-row"><span class="key">G</span> <%= t(:shortcut_then, default: "then") %> <span class="key">P</span> <%= t(:show_pending_tickets_assigned_to_you, default: "Show pending tickets assigned to you") %></li>
      <li class="shortcut-row"><span class="key">G</span> <%= t(:shortcut_then, default: "then") %> <span class="key">C</span> <%= t(:show_closed_tickets, default: "Show closed tickets") %></li>
      <li class="shortcut-row"><span class="key">N</span> <%= t(:show_new_tickets, default: "Show new tickets") %></li>
      <li class="shortcut-row"><span class="key">F</span> <%= t(:search_for_tickets, default: "Search for tickets") %></li>
    </ul>
    <span class="text-left"><h4><%= t(:viewing_tickets, default: "Viewing Tickets") %></h4></span>
    <ul class="list-unstyled">
      <li class="shortcut-row"><span class="key">,</span> <%= t(:select_previous_ticket, default: "Select Previous Ticket") %></li>
      <li class="shortcut-row"><span class="key">.</span> <%= t(:select_next_ticket, default: "Select Next Ticket") %></li>
      <li class="shortcut-row"><span class="key">Enter</span> <%= t(:view_selected_ticket, default: "View Selected Ticket") %></li>
      <li class="shortcut-row"><span class="key">#{<%= t(:ticket_number, default: "ticket number") %>}</span> <%= t(:jump_to_a_specific_ticket_number, default: "Jump to a specific ticket number") %></li>
    </ul>
  </div>
  <div class="col-sm-6  col-md-6">
    <span class="text-left"><h4><%= t(:ticket_actions, default: "Ticket Actions") %></h4></span>
    <ul class="list-unstyled">
      <li class="shortcut-row"><span class="key">A</span> <%= t(:assign_the_ticket, default: "Assign the ticket") %></li>
      <li class="shortcut-row"><span class="key">M</span> <%= t(:move_the_ticket, default: "Move the ticket") %>x</li>
      <li class="shortcut-row"><span class="key">X</span> <%= t(:expand_the_ticket_thread, default: "Expand the ticket thread") %></li>
      <li class="shortcut-row"><span class="key">R</span> <%= t(:reply_to_the_ticket, default: "Reply to the ticket") %></li>
      <li class="shortcut-row"><span class="key">O</span> <%= t(:add_an_internal_note, default: "Add an internal note") %></li>
      <li class="shortcut-row"><span class="key">U</span> <%= t(:change_ticket_status, default: "Change the ticket status") %></li>
      <li class="shortcut-row"><span class="key">P</span> <%= t(:associate_with_a_group, default: "Associate with a Group") %></li>
    </ul>
    <span class="text-left"><h4><%= t(:ticket_status, default: "Ticket Status") %></h4></span>
    <ul class="list-unstyled">
      <li class="shortcut-row"><span class="key">S</span> <%= t(:shortcut_then, default: "then") %> <span class="key">R</span> <%= t(:mark_resolved, default: "Mark resolved") %></li>
      <li class="shortcut-row"><span class="key">S</span> <%= t(:shortcut_then, default: "then") %> <span class="key">O</span> <%= t(:reopen_ticket, default: "Re-open ticket") %></li>
      <li class="shortcut-row"><span class="key">S</span> <%= t(:shortcut_then, default: "then") %> <span class="key">N</span> <%= t(:set_to_new, default: "Set to new") %></li>
      <li class="shortcut-row"><span class="key">S</span> <%= t(:shortcut_then, default: "then") %> <span class="key">S</span> <%= t(:mark_as_spam, default: "Mark as spam") %></li>
      <li class="shortcut-row"><span class="key">S</span> <%= t(:shortcut_then, default: "then") %> <span class="key">T</span> <%= t(:move_to_trash, default: "Move to trash") %></li>
    </ul>
  </div>
</div>
