<%
################################################################################
# NOTE: It is STRONGLY suggested that if you wish to customize the look and feel
# of your Helpy, that you create a custom theme instead.  This will allow
# you to override any views or styles you wish to, without compromising your
# ability to upgrade in the future
################################################################################
%>

<div class="row content-row">

  <div class="col-md-3 text-center">
    <%= avatar_image(@user, size=150) %>
  </div>

  <div class="col-md-9">
    <%= simple_form_for(@user, url: finish_signup_path, validate: true, :html => { role: 'form'}) do |f| %>
    <%= f.error_notification %>
    <span class="user-fields">
      <%= f.input :email, input_html: { value: '', autofocus: true } %>
      <%= f.input :name %>
      <%= f.input :bio %>
      <%= f.input :company %>
      <%= f.input :title %>
    </span>
    <%= f.button :submit, t("save_changes"), class: 'btn btn-warning' %>
    <%#= f.button :submit %>
  <% end %>

  </div>
</div>
