<div class="add-form">
  <h4><%= @posts.blank? ? t(:start_discussion) : t(:reply) %></h4>
  <%= bootstrap_form_for :post, :url => doc_comments_path(@doc) do |f| -%>
    <%= f.text_area :body, rows: 8, cols: 160, skip_label: true, class: 'disable-empty' %></p>
    <%= f.hidden_field 'kind', value: 'reply' %>

    <% unless cloudinary_enabled? %>
      <%= f.file_field :attachments, multiple: true %>
    <% else %>
      <div class="add-screenshots">
        <%= attachinary_file_field_tag 'post[screenshots]', post, :screenshots if cloudinary_enabled? %>
      </div>
    <% end %>
    <%= hidden_field_tag 'request[origin]', 'public' %>
    <%= hidden_field_tag :client_id %>
    <% if @posts.blank? %>
      <%= f.submit t(:start_discussion, default: 'Start Discussion'), class: 'btn btn-warning disableable', disabled: 'disabled' %>
    <% else %>
      <%= f.submit t(:submit_reply), class: 'btn btn-warning disableable', disabled: 'disabled' -%>
    <% end %>
  <% end -%>
</div>
