  <%= f.text_field :title, label: I18n.translate("activerecord.attributes.doc.title", locale: I18n.locale), value: @doc.read_translated_attribute(:title) %>
  <% if params[:lang] == "#{I18n.locale}" %>
    <%= f.select("category_id", Category.all.collect {|c| [ c.name, c.id ] }, { include_blank: t(:select_category, default: 'Select Category'), :label => I18n.translate("activerecord.attributes.doc.category_id", locale: I18n.locale) }, { class: 'no-translate' })  %>
  <% else %>
    <%= f.hidden_field("category_id", value: @doc.category_id) %>
  <% end %>
  <%#= render 'admin/quill_editor' #uncomment this line if you prefer to use the quill editor %>
  <%#= f.hidden_field :body #uncomment this line if you prefer to use the quill editor %>
  <%= f.trix_editor :body, value: @doc.read_translated_attribute(:body) %>
  <% unless params[:lang] == "#{I18n.locale}" || @doc.translations.where(locale: locale).count > 0 %>
  <script>
    $('trix-editor').find('div').html('')
  </script>
  <% end %>
  </body>
  <hr/>
  <% unless Cloudinary.config.cloud_name.nil? %>
  <div class="doc-form-files">
    <h4 class="form-subhead">Upload Images:</h4>
    <%= cl_image_upload_tag(:image_id) %>
  </div>
  <% end %>
  <hr/>
  <h4 class="form-subhead">Additional Settings:</h4>
  <%= f.text_field :meta_description, label: I18n.translate("activerecord.attributes.doc.meta_description", locale: I18n.locale), value: @doc.read_translated_attribute(:meta_description)  %>
  <%= f.text_field :title_tag, label: I18n.translate("activerecord.attributes.doc.title_tag", locale: I18n.locale), value: @doc.read_translated_attribute(:title_tag)  %>
  <%= f.text_field :keywords, label: I18n.translate("activerecord.attributes.doc.keywords", locale: I18n.locale), value: @doc.read_translated_attribute(:keywords)  %>

  <%#= f.text_field :rank %>
  <%= f.check_box(:front_page, class:'no-translate', inline: true, :label => I18n.translate("activerecord.attributes.doc.front_page", locale: I18n.locale)) if params[:lang] == "#{I18n.locale}"  %><br/><br/>
  <hr/>
  <% if params[:lang] == "#{I18n.locale}" %>
    <%= f.form_group :active, class:'no-translate', label: { text: "Article Status: " } do %>
      <%= f.radio_button :active, true, label: "Published", inline: true, class:'no-translate' %>
      <%= f.radio_button :active, false, label: "Draft", inline: true, class:'no-translate' %>
    <% end %>
  <% end %>
  <%= hidden_field_tag :lang, params[:lang] unless params[:lang].nil? %>
  <%= f.submit "Save Changes", class: 'btn btn-warning' %>
