<h2><%= t(:edit, default:'Edit') %>: <%= @doc.title %></h2>

<%= bootstrap_form_for :doc, url: category_doc_path(@category,@doc), :method => 'patch' do |f| %>
<div class="col-md-4">
    <%= f.alert_message "Please fix the errors below." %>
    <%= render :partial => 'form', :object => @doc, :locals => {:f => f} %>
</div>
<div class="col-md-8">
  <%= render 'admin/article_editor' %>
  <%= f.submit "Save Changes", class: 'btn btn-warning' %>
</div>

<% end %>
