<h1>Edit <%= @doc.title %></h1>
<%= bootstrap_form_for :doc, url: category_doc_path(@category,@doc), :method => 'patch' do |f| %>

  <%= f.alert_message "Please fix the errors below." %>

  <%= f.text_field :title %>
  <%= f.text_area(:body, :width => '100%', :height => '400px') %>
  <%= f.text_field :meta_description %>
  <%= f.text_field :title_tag %>
  <%= f.text_field :keywords %>
  <%= f.select("category_id", Category.all.collect {|c| [ c.name, c.id ] }) %>

  <%= f.text_field :rank %>
  <%= f.check_box :active, inline: true %>
  <%= f.check_box :front_page, inline: true %><br/><br/>
  <%= f.submit "Save Changes" %>

<% end %>
