<h1>Edit Content</h1>

<table class="sortable">
	<thead>
	  <tr>
	    <th>Title</th>
	    <th>Category</th>
		<th colspan="3"></th>
	  </tr>
	</thead>
	<tbody>
		<% for doc in @docs %>
		  <tr class="data<%= ' paused' if doc.active == false %>">
		    <td><%=h doc.title %> <%= ' - Featured' if doc.front_page == true %></td>
		    <td><%= doc.category.blank? ? "not categorized" : doc.category.name %></td>
		    <td><%= link_to 'Show', page_path(doc.category.link, doc.permalink) if doc.category %></td>
		    <td><%= link_to 'Edit', edit_doc_path(doc) %></td>
		    <td><%= link_to 'Destroy', doc, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New doc', new_doc_path %>
