<script>
  Helpy.yesHelped = '<%= j t(:yes_helped) %>';
  Helpy.noHelped = '<%= j t(:no_helped) %>';
  Helpy.contactUs = '<a href="<%= new_topic_path(doc_id: @doc.id) %>" class="btn btn-primary btn-lg get-help-button"><%= j t(:start_discussion) %></a>';
</script>

<div class="row content-row">
  <div class="col-md-3 hidden-xs hidden-sm">
    <div id="written-by" class="doc-meta">
      <div class="more-important meta-header"><%= I18n.t("written_by", default: "Written By") %>:</div>
      <div class="less-important">
        <%= avatar_image(@doc.user, size=40) %>
        <%= @doc.user.name.titleize %>
      </div>
    </div>
    <div id="doc-last-edit" class="doc-meta">
      <div class="more-important meta-header"><%= I18n.t("last_edited", default: "Last Edited") %>:</div>
      <div class="less-important"><%= last_active_time(@doc.updated_at) %></div>
    </div>
  </div>
  <div class="col-md-9">
    <p class="less-important"><%= @doc.content.html_safe %></p>

    <%= render 'layouts/did_this_help' %>
  </div>
</div>
<% if @doc.allow_comments %>
<div class="row">
  <div class="col-md-3 hidden-xs hidden-sm"></div>
  <div class="col-md-9">
    <hr/>
    <h3>Comments:</div>
  </div>
<% @topics.each do |topic| %>
<%
@posts = topic.posts.all
@topic = topic
%>
  <div class="col-md-3 hidden-xs hidden-sm"></div>
	<div class="col-md-9">
		<script>
			Helpy.messages = '<%= j t(:collapsed_messages, count: @posts.count-2) %>';
		</script>

		<table id="posts">
			<%= render :partial => 'posts/post', :collection => @posts %>
		</table>

		<% if user_signed_in? && !@topic.forum.allow_post_voting == true %>
		<div class="add-form">
			<h4><%= t(:reply) %></h4>
			<%#= error_messages_for :post -%>
			<%= bootstrap_form_for :post, :url => topic_posts_path(@topic) do |f| -%>
			  <%= f.text_area :body, :rows => 8, :cols => 160, label: 'Type your response:' -%></p>
			  <%= f.hidden_field 'kind', value: 'reply' %>
				<div class="add-screenshots">
				<%= attachinary_file_field_tag 'post[screenshots]', @post, :screenshots unless Cloudinary.config.cloud_name.nil? %>
				</div>
				<%= hidden_field_tag :client_id %>
				<%= f.submit t(:submit_reply) -%>
			<% end -%>
			</div>
		<% end -%>

	</div>

<% end %>
</div>
<% end %>
