<div class="row content-row">
  <div class="col-md-3 hidden-xs hidden-sm">
    <div id="written-by" class="doc-meta">
      <div class="more-important meta-header">Written By:</div>
      <div class="less-important">
        <%= image_tag(user_avatar(@doc.user), width: '40px', class: 'img-circle') %>
        <%= @doc.user.name.titleize %>
      </div>
    </div>
    <div id="doc-last-edit" class="doc-meta">
      <div class="more-important meta-header">Last Edit:</div>
      <div class="less-important"><%= last_active_time(@doc.updated_at) %></div>
    </div>
  </div>
  <div class="col-md-9">
    <p class="less-important"><%= @doc.content.html_safe %></p>

    <%= render 'layouts/did_this_help' %>
  </div>
</div>
