
<div class="jumbotron text-center" id="home-search">
  <h1 id="how-help" class="text-center">How can we help?</h1>
  <%= render 'result/search_form' %>
</div>

<script>
$(document).ready(function(){
  $('.home-option').mouseover(function(){
    var activeBlock = $(this);
    activeBlock.addClass("active");
    activeBlock.css('cursor','pointer');
    activeBlock.find("span").css('font-size','400%');
    activeBlock.find("h3").css('padding-top','16px');
  });
  $('.home-option').mouseout(function(){
    var activeBlock = $(this);
    $(this).removeClass("active");
    $(this).css('cursor','auto');
    activeBlock.find("span").css('font-size','300%');
    activeBlock.find("h3").css('padding-top','30px');
  });
  $('.home-option, .home-option-xs').click(function(){
    document.location.href = $(this).data("link");
  });
});
</script>

<div class="row hidden-xs hidden-sm text-center" id="home-options">
  <div class="col-md-4 home-option border-right" id="community-forums-block" data-link="<%= forums_path %>">
    <span class="glyphicon glyphicon-comment"></span><h3>Community Forums</h3>
  </div>
  <div class="col-md-4 home-option border-right" id="kb-block" data-link="<%= categories_path %>">
    <span class="glyphicon glyphicon-flash"></span><h3>Knowledge Base</h3>
  </div>
  <div class="col-md-4 home-option" id="discussion-block" data-link="<%= new_topic_path %>">
    <span class="glyphicon glyphicon-question-sign"></span><h3>Ask a Question</h3>
  </div>
</div>

<div class="row text-center visible-xs visible-sm" id="home-options-xs">
  <div class="col-md-12">
    <ul class='list-unstyled home-option-xs border-bottom' data-link="<%= forums_path %>">
      <h3><span class="glyphicon glyphicon-comment"></span> Community Forums</h3>
    </ul>
    <ul class='list-unstyled home-option-xs border-bottom' data-link="<%= categories_path %>">
      <h3><span class="glyphicon glyphicon-flash"></span> Knowledge Base</h3>
    </ul>
    <ul class='list-unstyled home-option-xs' data-link="<%= new_topic_path %>">
      <h3><span class="glyphicon glyphicon-question-sign"></span> Ask a Question</h3>
    </ul>
  </div>
</div>



<div id="featured-categories" class="row">
  <% @categories.each do |category| %>
  <div class="col-md-4">
    <h5 class=category-header"><%= link_to category.name.titleize, category_path(category), id: "category-#{category.id}"  %></h5>
    <ul class="list-unstyled articles hidden-xs">
      <% category.docs.ordered.active.limit(15).each_with_index do |doc| %>
      <%= render ("docs/doc"), doc: doc %>
      <% end %>
      <% if category.docs.ordered.active.count > 15 %>
      <li class="article article-more"><%= link_to "More Documents", category_path(category) %><span class="glyphicon glyphicon-arrow-right"></span></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>
