<%
################################################################################
# NOTE: It is STRONGLY suggested that if you wish to customize the look and feel
# of your Helpy, that you create a custom theme instead.  This will allow
# you to override any views or styles you wish to, without compromosing your
# ability to upgrade in the future
################################################################################
%>

<% title "#{AppSettings['settings.site_name']}: #{@page_title}" %>

<div class="jumbotron text-center" id="home-search">
  <h1 id="how-help" class="text-center"><%= t(:how_can_we_help) %></h1>
  <%= render 'result/search_form' %>
</div>

<% if @categories.count > 0 && Doc.all.with_translations(I18n.locale).count > 0 && knowledgebase? %>
<div id="featured-categories" class="row">

  <h2 class="text-center space-h2"><%= t(:browse_topics)%></h2>

  <div id="home-topics" class="col-md-12">
  <% @categories.each do |category| %>
    <% if category.docs.with_translations(I18n.locale).count > 0 %>
      <div class="topic-box col-lg-3 col-md-3 col-sm-4 col-xs-12" data-link="<%= category_path(category) %>">
        <div class="dummy"></div>
        <div class="thumbnail">
          <h5 class="category-header text-center"><span class="category-icon glyphicon glyphicon-<%= category.icon %>"></span><br/><%= link_to category.name, category_path(category), id: "category-#{category.id}"  %><br/></h5>
          <p class="text-center less-important hidden-xs"><%= category.meta_description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
<% end %>

<% if @articles.count > 0 %>

<% end %>

<% if @team.count > 0 && tickets? %>
<div id="featured-team" class="row">
  <h2 class="text-center space-h2"><%= t(:support_team)%></h2>
  <div id='home-team' class= "col-md-12 text-center">
    <ul class="list-inline">
    <%= render partial:'team_member', collection: @team %>
    </ul>
  </div>
</div>
<% end %>
