  <style>
  /* Added style to handle new h1 header in trix.js */
  .simple_form h1 {
    font-size: 160%;
    background-color: transparent;
  }
  </style>

  <%= f.input :title, label: I18n.translate("activerecord.attributes.doc.title", locale: I18n.locale), value: @doc.read_translated_attribute(:title) %>
  <% if params[:lang] == "#{I18n.locale}" %>
    <%= f.input("category_id", collection: Category.all.collect {|c| [ c.name, c.id ] }, prompt: t(:select_category, default: 'Select Category'), label: I18n.translate("activerecord.attributes.doc.category_id", locale: I18n.locale), :input_html => { class: 'no-translate' })  %>
  <% else %>
    <%= f.hidden_field("category_id", value: @doc.category_id) %>
  <% end %>
  <%= f.trix_editor :body, value: @doc.read_translated_attribute(:body) %>
  <% unless params[:lang] == "#{I18n.locale}" || @doc.translations.where(locale: locale).count > 0 %>
  <script>
    $('trix-editor').find('div').html('')
  </script>
  <% end %>
  </body>
  <hr/>
  <% unless Cloudinary.config.cloud_name.nil? %>
  <div class="doc-form-files">
    <h4 class="form-subhead"><%= t('upload_image') %>:</h4>
    <%= cl_image_upload_tag(:image_id) %>
  </div>
  <% else %>
    <h4 class="form-subhead"><%= t('upload_image') %>:</h4>
    <%#= f.simple_fields_for :attachments do |a| %>
       <%#= a.file_field :files, multiple: true, class: 'uploader' %>
    <%# end %>

    <%= f.file_field :attachments, multiple: true, class: 'uploader', validate: false  %>

    <ul class="list-inline" id="attachments">
      <%= render partial: 'admin/docs/attachment', locals: { doc: @doc } %>
    </ul>

    <!-- <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span> -->
            <!-- The file input field used as target for the file upload widget -->
            <!-- <input id="fileupload" type="file" name="files[]" multiple>
        </span>
        <br>
        <br> -->
        <!-- The global progress bar -->
        <!-- <div id="progress" class="progress">
            <div class="progress-bar progress-bar-success"></div>
        </div> -->
        <!-- The container for the uploaded files -->
        <!-- <div id="files" class="files"></div> -->

  <% end %>
  <hr/>
  <h4 class="form-subhead"><%= t('additional_settings', default: 'Additional Settings') %>:</h4>
  <div class= "form_group no-translate">
    <label class="control-label" for="tag_list"><%= t('tags', default: 'Tags') %>: </label>
    <%= f.text_field :tag_list, value: @doc.tag_list.to_s, class: 'selectize form-control' %>
  </div>

  <%= f.input :meta_description, label: I18n.translate("activerecord.attributes.doc.meta_description", locale: I18n.locale), value: @doc.read_translated_attribute(:meta_description)  %>
  <%= f.input :title_tag, label: I18n.translate("activerecord.attributes.doc.title_tag", locale: I18n.locale), value: @doc.read_translated_attribute(:title_tag)  %>
  <%= f.input :keywords, label: I18n.translate("activerecord.attributes.doc.keywords", locale: I18n.locale), value: @doc.read_translated_attribute(:keywords)  %>

  <%#= f.text_field :rank %>
  <%= f.input(:front_page, class:'no-translate', inline: true, :label => I18n.translate("activerecord.attributes.doc.front_page", locale: I18n.locale, default: "Feature on front page?")) if params[:lang] == "#{I18n.locale}"  %>
  <%= f.input(:allow_comments, class:'no-translate', inline: true, :label => I18n.translate("activerecord.attributes.doc.allow_comments", locale: I18n.locale, default: "Allow Commenting")) if forums? and params[:lang] == "#{I18n.locale}"  %>
  <hr/>
  <% if params[:lang] == "#{I18n.locale}" %>
    <div class= "form_group no-translate">
      <label class="control-label" for="doc_active"><%= t('status', default: 'Article Status') %>: </label>
      <%= f.collection_radio_buttons :active, [[true, t('published_content', default: "Published")] ,[false, t('draft_content', default: "Draft")]], :first, :last %>
    </div>
  <% end %>
  <%= hidden_field_tag :lang, params[:lang] unless params[:lang].nil? %>
  <br/><br/>
  <%= f.submit t('save_changes', default: "Save Changes"), class: 'btn btn-warning' %>
  <script type="text/javascript">
    $('.selectize').selectize({
      delimiter: ',',
      persist: false,
      create: function(input) {
          return {
              value: input,
              text: input
              }
          },
      // onItemAdd: function(value, $item) {
      //   char = $item.text().charAt(0);
      //   alert(char);
      //   //$item.parent().removeClass('selectize-input');
      //   $item.addClass('label');
      //   $item.addClass('label-doc-tagging');
      //   $item.addClass('label-' + char);
      // }
    });
  </script>
