<% title "#{admin_title} #{t(:new_content, default: 'New Content')}" %>

<div class="row">
  <%= simple_form_for([:admin, @doc], validate: true, multipart: true ) do |f| %>
  <div class="col-md-12">
    <h2 class="form-subhead"><%= t(:new_content, default: 'New Content') %></h2>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render :partial => 'form', :object => @doc, :locals => {:f => f} %>
  </div>
  <% end %>
</div>

<script>
<% if @post.nil? %>
$('#summernote').summernote('code', '<%= @doc.body if @doc.body? %>');
<% else %>
$('#summernote').summernote('code', '<%= @post.body unless @post.nil? %>');
<% end %>
</script>
