<% title "#{AppSettings['settings.site_name']}: #{@page_title}" %>
<% meta_tag :description, "#{@category.meta_description}" %>
<% meta_tag :keywords, "#{@category.keywords}" %>

<div class="row content-row">

	<%= render 'left_nav' %>

  <div id="category-col" class="col-md-9 col-sm-12 col-xs-12">
    <ul class='list-unstyled'>
      <%= render partial: 'categories/category', collection: Category.children_of(@category).publicly.active.ordered.with_translations(I18n.locale).all
 %>
      <%= render partial: 'docs/doc', collection: @docs %>
      <% if @docs.count == 0 %>

        <div class="text-center verticalness">
          <%= t(:nothing_here) %>
        </div>

      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-9 text-left">
    <%= paginate @docs %>
  </div>
</div>