<div class="reports-nav" data-hook="reports-left-nav">
<%= content_tag :div, class: "left-nav-header" do %>
  <%= content_tag :span, t('ticketing_reports'), class: 'tiny-header' %>
  <%= hide_responsive_nav %>
<% end %>
<%= content_tag :ul, class: "list-unstyled nav-items" do %>
  <%= content_tag :li, link_to(t('activity_report'), admin_reports_path(start_date: @start_date, end_date: @end_date, label: params[:label])), class: 'report-link nav-item' %>
  <%= content_tag :li, link_to(t('group_report'), admin_group_reports_path(start_date: @start_date, end_date: @end_date, label: params[:label])), class: 'report-link nav-item' %>
<% end %>
<%= content_tag :div, class: "left-nav-header" do %>
  <%= content_tag :span, t('team_reports'), class: 'tiny-header' %>
<% end %>
<%= content_tag :ul, class: "list-unstyled nav-items" do %>
  <%= content_tag :li, link_to(t('team_insights'), admin_team_reports_path(start_date: @start_date, end_date: @end_date, label: params[:label])), class: 'report-link nav-item' %>
<% end %>
</div>
