<div class="report-header row">
  <div class="col-md-12 clearfix">
    <h3>
      <%= show_responsive_nav %>
      <%= report_name %>:
      <%= content_tag :span, class: "dropdown pull-right" do %>
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= @interval.sentence_case %>
          <span class="caret"></span>
        </button>
        <%= render partial: 'admin/reports/date_selector', locals: { path: report_path } %>
      <% end %>
    </h3>
  </div>
</div>
