<div id="doc-<%= doc.id %>" class="row vcenter hoversort border-bottom item" data-obj-id='<%= "#{doc.id}" %>' data-obj='doc'>
  <div class="text-left col-md-7 col-sm-11 col-xs-10 <%= 'grayout' unless doc.active? %>">
    <span class="more-important">
      <%= link_to doc.title, edit_admin_category_doc_path(doc.category.id, doc.id, lang: I18n.locale)  %>
      <% tag_listing(doc.tag_list, "doc") %>
      <%= " - #{I18n.t('featured_content', default: 'Featured')}" if doc.front_page == true %>
      <%= " - #{I18n.t('draft_content', default: 'Draft')}" if doc.active == false %>
    </span>
    <%#= i18n_icons(doc) if AppSettings['i18n.available_locales'].count > 1 %>
    <br/>
    <span class="less-important">
      <%= I18n.t('written_on', date_written: doc.created_at.strftime("%m/%d/%Y"), default: 'Written on') %>
      <%= doc.updated_at == doc.created_at ? "" : " | #{I18n.t("content_last_updated", date_updated: doc.updated_at.strftime("%m/%d/%Y"))}" %>
    </span>
  </div>

  <div class="text-right col-md-4 col-sm-4 col-xs-4 hidden-xs hidden-sm <%= 'grayout' unless doc.active? %>">
    <span class="label label-count pull-right"></span>
    <%= i18n_icons(doc) if AppSettings['i18n.available_locales'].count > 1 %>
  </div>

  <div class="text-right col-md-1 col-sm-1 col-xs-2">
    <span id="row-<%= doc.id %>" data-toggle="dropdown" aria-expanded="false" class='btn dropdown-toggle fas fa-ellipsis-v'></span>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li><%= link_to t(:edit, default: 'Edit'), edit_admin_category_doc_path(doc.category.id, doc.id, lang: I18n.locale) %></li>
      <li><%= link_to t(:delete, default: 'Delete'), admin_doc_path(doc.id), data: {confirm: t(:delete_confirm, default: 'Please confirm you really want to DELETE this')}, method: :delete, remote: true, class: 'less-important' if doc.category_id != 2 %></li>
      <li>
        <%= link_to t(:view_on_site, default: 'View on Site'), category_doc_path(doc.category, doc), {target: "_blank"} if doc.category.publicly_viewable? %>
        <%= link_to t(:view_on_internal_knowledge_base, default: 'View on Internal KB'), admin_internal_category_internal_doc_path(doc.category.id, doc.id), {target: "_blank"} if doc.category.internally_viewable? && ![1,2].include?(doc.category_id) %>
      </li>
    </ul>
  </div>
</div>
