  <%= f.input :name, label: I18n.translate("activerecord.attributes.category.name", locale: selected_locale), value: @category.read_translated_attribute(:name)  %>
  <%= f.input :parent_id, collection: categories_collection %>
  <%= f.input :icon, placeholder: t(:select_icon_helptext, default: 'Select an icon to associate with this category (optional)'), label: I18n.translate("activerecord.attributes.category.icon", locale: selected_locale), input_html: { class: 'icon-picker no-translate'} %>
  <%#= f.text_field :section %>
  <%= f.input :keywords, label: I18n.translate("activerecord.attributes.category.keywords", locale: selected_locale), value: @category.read_translated_attribute(:keywords) %>
  <%= f.input :title_tag, label: I18n.translate("activerecord.attributes.category.title_tag", locale: selected_locale), value: @category.read_translated_attribute(:title_tag) %>
  <%= f.input :meta_description, label: I18n.translate("activerecord.attributes.category.meta_description", locale: selected_locale), value: @category.read_translated_attribute(:meta_description) %>
  <% if params[:lang] == "#{selected_locale}" %>
    <%= f.input :front_page, label: I18n.translate("activerecord.attributes.category.front_page", locale: selected_locale), input_html: { class: 'no-translate'} %>
    <%= label_tag I18n.translate("activerecord.attributes.category.visibility", locale: selected_locale), nil, class: 'form-label' %>
    <div class="content-visibility-options">
      <%= f.collection_radio_buttons :visibility, [
          ['all', I18n.translate("activerecord.attributes.category.visibility_label.all", locale: selected_locale)],
          ['public', I18n.translate("activerecord.attributes.category.visibility_label.public", locale: selected_locale)],
          ['internal', I18n.translate("activerecord.attributes.category.visibility_label.internal", locale: selected_locale)]], :first, :last %>
    </div>
    <%= f.input :active, label: I18n.translate("activerecord.attributes.category.active", locale: selected_locale), input_html: { class: 'no-translate'} %>
  <% else %>
    <%= f.hidden_field :front_page, value: @category.front_page %>
    <%= f.hidden_field :public, value: @category.visibility %>
    <%= f.hidden_field :active, value: @category.active %>
  <% end %>
  <%= hidden_field_tag :lang, params[:lang] unless params[:lang].nil? %>
  <%= f.submit class: 'btn btn-warning' %>
