<% title "#{admin_title} #{t(:content, default: 'Content')}" %>

<%= javascript_include_tag "jquery.nestable.js", "data-turbolinks-track" => true %>

<style>
.dd { position: relative; display: block; margin: 0; padding: 0; list-style: none;  }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 40px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; margin-left: -25px; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

.category-row {
  margin-top: 5px;
  margin-bottom: 5px;
}
</style>


<div class="row">
  <div class="col-md-12 main-panel">

    <div class="admin-header">
      <h3 class="view-header"><%= t(:content, default: 'Content') %>
        <div class="pull-right nav-new-button">
          <%= link_to t(:new_category, default: "New Category"), new_admin_category_path(lang: I18n.locale), class: 'btn btn-primary' %>
        </div>
      </h3>
    </div>

    <div class="settings-section">
      <div class="row group-header vcenter border-bottom">
        <div class="pull-left tiny-header col-md-12">
          <%= t(:front_page_categories, default: 'Front Page Categories') %>
        </div>
      </div>

      <div class="dd front-categories">
        <ol class="dd-list">
          <%= render partial: 'cat', collection: @public_categories %>
        </ol>
      </div>

    </div>

    <div class="settings-section">
      <div class="row group-header vcenter border-bottom">
        <div class="pull-left tiny-header col-md-12">
          <%= t(:other_categories, default: 'Other Categories') %>
        </div>
      </div>
      <div>
        <%= render partial: 'cat', collection: @public_nonfeatured_categories %>
      </div>
    </div>

    <div class="settings-section">
      <div class="row group-header vcenter border-bottom">
        <div class="pull-left tiny-header col-md-12">
          <%= t(:internal_categories, default: 'Private/Internal Categories') %>
        </div>
      </div>
      <div>
        <%= render partial: 'cat', collection: @internal_categories %>
      </div>
    </div>
  </div>
</div>

<script>
$('.dd').nestable();

$('.dd').on('change', function() {
  $.ajax({
    type: 'PATCH',
    url: '/admin/categories/reorganize',
    dataType: 'json',
    data: { structure: $('.dd').nestable('serialize') },
    complete: function (data) {
      //$('.front-categories').html(data.responseText);
      Helpy.ready();
      Helpy.track();
      Helpy.admin();
    }
  });
});
</script>