<%
################################################################################
# NOTE: It is STRONGLY suggested that if you wish to customize the look and feel
# of your Helpy, that you create a custom theme instead.  This will allow
# you to override any views or styles you wish to, without compromising your
# ability to upgrade in the future
################################################################################
%>

<% Globalize.with_locale(@locale) do %>
  <div class="widget-form">
  <%= bootstrap_form_for(@topic) do |f| -%>

    <%#= f.alert_message "Please fix the errors below." %>

    <% unless user_signed_in? %>
      <%= f.fields_for @user do |u| %>
        <%= u.email_field :email, placeholder: I18n.t('activerecord.attributes.user.email'), hide_label: true %>
        <%= u.text_field :name, placeholder: I18n.t('activerecord.attributes.user.name'), hide_label: true %>
      <% end %>
    <% end %>

    <%= f.text_field :name, :size => 40, placeholder: I18n.t(:subject), hide_label: 'true' -%>
    <%= text_area :post, :body, :rows => 8, :cols => 60, placeholder: I18n.t(:how_can_we_help) -%>

    <%= hidden_field_tag :client_id %>
    <%= f.hidden_field :private, value: true %>
    <%= f.hidden_field :forum_id, value: 1 %>
    <%= f.submit t(:submit_start_discussion, default: 'Start Discussion'), class: 'btn btn-warning' %>

  <% end -%>
  </div>
<% end %>
