<tr class="posted-by <%= "first-post" if post.id == post.topic.posts.first.id %>">
	<td width="60px">
		<div>
		<%= image_tag(post.user.image_url, width: '40px', class: 'img-circle') %>
		</div>
	</td>
	<td class="bottom-border" valign="bottom">
	    <span class="more-important"><%= h post.user.name.titleize -%></strong>
	</td>
	<td class="bottom-border text-right" valign="bottom">
  		<br/><span class="posted-at less-important">Posted <%= distance_of_time_in_words_to_now(post.created_at) %> ago</span>
	</td>
</tr>

<tr>
  <td class="<%= "first-post" if post.id == post.topic.posts.first.id %>"></td>
  <td class="post <%= "first-post" if post.id == post.topic.posts.first.id %>" colspan="2">
  	<p class="less-important">
			<%= simple_format(post.body) -%>
		</p>
  </td>
</tr>

<% if user_signed_in? and current_user.admin? -%>
<!--<tr>
	<td colspan="2">
      <br />
      <small>
        <%= link_to 'Edit', edit_topic_post_path(@topic, post) -%>
        <%= link_to 'Delete', topic_post_path(@topic, post), :method => :delete,
              :confirm => 'Are you sure you wish to delete this post?' -%>
      </small>
	</td>
</tr> -->
<% end -%>
