<div class="media post-container <%= "kind-#{post.kind}" %>">
	<div class="pull-left">
		<%= image_tag(post.user.image_url, width: '40px', class: 'media-object img-circle') %>
	</div>
	<div class="media-body media-right">
		<span class="more-important"><%= h post.user.name.titleize if post.user.name? -%></strong> <%= post_message(post.kind) %></span>
		<span class="last-active posted-at less-important pull-right"><%= last_active_time(post.created_at) %></span>

		<p class="post-body less-important">
			<%= simple_format(post.body) -%>
		</p>
	</div>
</div>
