<div>
	<%= @topic.current_status %>
</div>
<div id="topic-vote">
	<div class="topic-points">
		<%= @topic.points %>
	</div><br/>
	Number of People who liked this:<br/>

	<br/><%#= link_to_remote('Vote Down', :url => {:controller => 'topics', :action => 'down_vote', :id => @topic.id}) if user_signed_in? %>
</div>

<% if user_signed_in? %>
<h3>Vote it Up? <%= link_to(image_tag('icons/001_18.png'), :url => {:controller => 'topics', :action => 'up_vote', :id => @topic.id}, :class => 'button positive', :remote => true) %></h3>
<% end %>

<% if user_signed_in? && current_user.admin? %>
	<h3>Admin Tools:</h3>
	<div class="admin-tools">

			<%= link_to 'Edit', edit_topic_path(@topic) %><br/>
			Change Status:
			<% form_for(:topic, :url => forum_topic_path(@topic.forum, @topic.id), :method => 'put', :remote => true) do |f| %>
				<%= f.select(:current_status, [['Open'],['Resolved'],['Spam']], {}, :onchange => 'this.form.onsubmit();') %>
				<%#= f.submit 'Save' -%>
			<% end -%>
	</div>
<% end %>

<% if user_signed_in? %>
	<% if @topic.user_id == current_user.id || current_user.admin? %>
	<h3>Options:</h3>
	<div id="private-button">
		<% if @topic.private? %>
			<%= button_to 'Make Public', make_private_path(@topic,false) %>
		<% else%>
			<%= button_to 'Make Private', make_private_path(@topic,true) %>
		<% end %>
	</div>
	<% end %>
<% end %>

<!--
<%# unless @topic.tag_list.blank? %>
<h3>Tags:</h3>
<div id="tagged-with">
	<p><%#= @topic.tag_list %></p>
</div>
<%# end %>
-->

<% unless @related.blank? %>
<h3>Related Topics:</h3>
<div class="topic-related">
	<table>
	<% @related.each do |t| %>
		<tr>
			<td>
			<div class="topic-points">
					<%= t.points %>
			</div>
			</td>
			<td><%= link_to t.name, topic_posts_path(t) %></td>
		</tr>
	<% end %>
	</table>
</div>
<% end %>
