<div class="row">


	<div id="main-content" class="col-md-8">
		<table id="posts">
			<%= render :partial => 'post', :collection => @posts %>
		</table>

		<% if user_signed_in? && @topic.open? %>
		<div class="add-form">
		<h4>Reply to this Topic:</h4>
		<%#= error_messages_for :post -%>
		<%= form_for :post, :url => topic_posts_path(@topic) do |f| -%>
		  <p>Message:<br /><%= f.text_area :body, :rows => 8, :cols => 160 -%></p>
		  <%= submit_tag 'Post Reply', :class => 'submit' -%>
		<% end -%>
		</div>
		<% end -%>

	</div>

	<div id="main-left" class="col-md-4 hidden-sm hidden-xs">
		<div id="topic-stats">
			<%= render :partial => 'topic_stats' %>
		</div>
	</div>

</div>
