<div class="row">

	<div class="col-md-12">
		<table id="posts">
			<%= render :partial => 'post', :collection => @posts %>
		</table>

		<% if user_signed_in? %>
			<div class="add-form">
			<h4><%= t(:reply) %></h4>
			<%#= error_messages_for :post -%>
			<%= bootstrap_form_for :post, :url => topic_posts_path(@topic) do |f| -%>
			  <%= f.text_area :body, :rows => 8, :cols => 160, label: 'Type your response:' -%></p>
			  <%= f.hidden_field 'kind', value: 'reply' %>
				<%= hidden_field_tag :client_id %>
				<%= f.submit t(:submit_reply) -%>
			<% end -%>
			</div>
		<% end -%>

	</div>

</div>
