<%= render 'shared/error_messages', object: f.object %>

<%= f.input :name, :size => 40 -%></p>
<%= f.input :description, input_html: {:rows => 4, :cols => 60} -%></p>
<%= f.input("layout", collection: [['Table',"table"],["Grid","grid"],["Q&A","qna"]], :include_blank => t(:select_category, default: 'Select Format') , locale: I18n.locale) %>

<%= f.input :allow_topic_voting %>
<%= f.input :allow_post_voting %>
<%= f.input  :private %>
<%= f.submit t(:save_changes, default: "Save Changes"), class: 'btn btn-warning' %>
