<%= render 'shared/error_messages', object: f.object %>

<%= f.input :name, :size => 40 -%></p>
<%= f.input :description, input_html: {:rows => 4, :cols => 60} -%></p>
<%= f.select("layout", [[t(:layout_table, default: 'Table'),"table"],[t(:layout_grid, default: "Grid"),"grid"],[t(:layout_qna, default: "Q&A"),"qna"]], include_blank: t(:layout_select, default: 'Select Format')) %>

<%= f.input :allow_topic_voting %>
<%= f.input :allow_post_voting %>
<%#= f.input  :private %>
<%= f.submit t(:save_changes, default: "Save Changes"), class: 'btn btn-warning' %>
