<% title "#{admin_title} #{t('notification_token', default: "Notification Tokens")}" %>

<% content_for :settings do %>

<div class="admin-header">
  <h3 id="setting-header">
    <%= show_responsive_nav %>
    <%= t('notification_token', default: "Notification Tokens") %>
  </h3>
</div>
<div class="row content-row">

  <div class="col-md-12">

    <table id="forums" class="notification_keys table-hover">
      <col width="15%">
      <col width="40%">
      <col width="40%">
      <col width="5%">
      <thead>
        <tr>
          <td class="tiny-header"><%= t('device_description', default: 'Device Description') %></td>
          <td class="tiny-header"><%= t('device_token', default: 'Token') %></td>
        </tr>
      </thead>
      <%= render partial: 'notification_token', collection: @notification_tokens %>
    </table>

    <br/>
    <div>
      <%= t('spec-note', default: "You can read and test out an interactive API spec at") %>:
      <%= link_to("#{request.protocol + request.host_with_port}/api/v1/api_doc", "#{request.protocol + request.host_with_port}/api/v1/api_doc") %>
    </div>
  </div>
</div>

<% end %>
