<h1>Admin Categories</h1>
<div class="row">
  <div class="col-md-12">
    <table id="forums">
      <tr>
        <th>Name</th>
    	<th colspan="3"></th>
      </tr>

    <% for cat in @categories %>
      <tr>
        <td><%=h cat.name %></td>
        <td><%= cat.section %></td>
        <td><%= link_to 'Edit', edit_category_path(cat.id) %></td>
        <td><%= link_to 'Destroy', cat.id.to_s, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= button_to 'Create New Category', new_category_path %>
  </div>
</div>
