
<h1>Help</h1>
<ol>
<% @categories.each do |category| %>


	<li><%= category.name  %></li>
	<ol>
	<% category.docs.ordered.active.each do |doc| %>
		<li><%= doc.title %></li>
	<% end %>
	</ol>
<%
end
%>
</ol>

<% @categories.each do |category| %>

	<h3><%= category.name  %></h3>

	<% category.docs.ordered.active.each do |doc| %>
		<h4><%= doc.title %></h4>
		<%= doc.body %>
	<% end %>

<% end %>
