<p><%= t('greetings', default: 'Hello') %> <%= @resource.email %>!</p>

<p><%= t('reset_password_instructions.reset_link_request', default: 'Someone has requested a link to change your password. You can do this through the link below') %>.</p>

<p><%= link_to <%= t('reset_password_instructions.change_password', default: 'Change my password') %>, edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('reset_password_instructions.mail_ignore', default: "If you didn't request this, please ignore this email") %>.</p>
<p><%= t('reset_password_instructions.ignore_notice', default: "Your password won't change until you access the link above and create a new one") %>.</p>
