<div dir=rtl>
<p><%= I18n.t('devise.mailer.reset_password_instructions.greeting', recipient: @resource.email) %></p>
<p><%= I18n.t('devise.mailer.reset_password_instructions.instruction') %></p>

<p><%= link_to I18n.t('devise.mailer.reset_password_instructions.action'), edit_password_url(@resource, host: AppSettings['settings.site_url'], reset_password_token: @token) %></p>

<p><%= I18n.t('devise.mailer.reset_password_instructions.instruction_2') %></p>
<p><%= I18n.t('devise.mailer.reset_password_instructions.instruction_3') %></p>
</div>
