
<!-- <div id="edit-user-info-horizontal" class="row">-->
  <%= bootstrap_form_for(@user, remote: true, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <div class='col-md-4 col-sm-12 col-xs-12 text-center' id='user-info-image'>
    <%= avatar_image(@user, size=150) %>
  </div>
  <div id="user-contact-info" class="col-md-4 col-sm-6 col-xs-12 user-info">
    <div class="tiny-header"><%= @user.name %></div>
    <span class="small">
      <%= f.text_field :name %>
      <%= f.text_field :company %>
      <%= f.text_field :city, inline: true %> <%= f.text_field :state, inline: true  %>
      <%#= @topic.user.country.titleize unless @topic.user.country.nil? %>
      <%= f.check_box :active, inline: true %> <%= f.check_box :admin, inline: true %>


    </span>
  </div>
  <div id="user-contact-info" class="col-md-4 col-sm-6 col-xs-12  user-info">
    <div class="tiny-header"><%= t(:contact_info, default: "Contact") %>:</div>
    <%= f.text_field :work_phone %>
    <%= f.text_field :cell_phone %>
    <%= f.email_field :email %><br/>
    <div class="tiny-header"><%= t(:social_info, default: "Social") %>:</div>
    <%= f.text_field :twitter %>
    <%= f.text_field :linkedin %>
    <%= f.submit "Save", class: 'btn btn-warning' %>
  </div>

  <% end %>
<!-- </div> -->
