<%= bootstrap_form_for(:user, url: admin_user_path, remote: true, method: 'patch') do |f| %>
  <div class='col-md-12 col-sm-12 col-xs-12 text-center' id='user-info-image'>
    <%= avatar_image(@user, size=150) %>
  </div>
  <div id="user-contact-info" class="col-md-12 col-sm-12 col-xs-12 user-info">
    <div class="user-section">
      <%= f.text_field :name %>
      <%= f.text_field :company %>
      <%= f.text_field :city, inline: true %> <%= f.text_field :state, inline: true  %>
      <%#= @topic.user.country.titleize unless @topic.user.country.nil? %>
      <%= f.select(:role, [['Select Role',''],['Admin','admin'],['Agent','agent'],['Editor','editor'],['User','user']]) if current_user.is_admin? %>
      <%= f.text_field :team_list, value: @user.team_list.to_s, class: 'selectize form-control', label: "Group Membership" if AppSettings['settings.teams'] and current_user.is_admin? and @user.is_agent? %>
      <%= f.check_box :active %> <%#= f.check_box :admin, inline: true %>
    </div>
    <div class="user-section">
      <div class="tiny-header"><%= t(:contact_info, default: "Contact") %>:</div>
      <%= f.text_field :work_phone %>
      <%= f.text_field :cell_phone %>
      <%= f.email_field :email %>
    </div>
    <div class="user-section">
      <div class="tiny-header"><%= t(:social_info, default: "Social") %>:</div>
      <%= f.text_field :twitter %>
      <%= f.text_field :linkedin %>
    </div>
    <%= f.submit "Save", class: 'btn btn-warning' %>
  </div>
<% end %>
<script type="text/javascript">
  $('.selectize').selectize({
    delimiter: ',',
    persist: false,
    create: function(input) {
        return {
            value: input,
            text: input
            }
        }
  });
</script>
