<div id="user-info" class="row">
    <div class='col-md-12 text-center' id='user-info-image'>
      <%= link_to avatar_image(@user, size=90), admin_user_path(@user), remote: true %>
    </div>
</div>
<div class="row">
  <div class='col-md-12' id='user-info-info'>
    <div id="user-contact-info" class="user-info">
      <div class="tiny-header"><%= best_in_place @user, :name, as: :input, url: admin_user_path(@user) %></div>
      <span class="small">
        <% if @user.account_number.present? %>
          <%= t(:account_number, default: 'Account:') %>
          <%= best_in_place @user, :account_number, as: :input, url: admin_user_path(@user) %>
          <br/>
        <% end %>
        <%= best_in_place @user, :company, as: :input, url: admin_user_path(@user) unless @user.company.nil? %><br/>
        <%= best_in_place @user, :city, as: :input, url: admin_user_path(@user) %><%= ', ' unless @user.city.nil? %>
        <%= best_in_place @user, :state, as: :input, url: admin_user_path(@user) unless @user.state.nil? %>
        <%= best_in_place @user, :zip, as: :input, url: admin_user_path(@user) %>
      </span>
    </div>
    <div id="user-contact-info" class="user-info">
      <div class="tiny-header"><%= t(:contact_info, default: "Contact") %>:</div>
      <%= t(:work_phone, default: "work") %>: <%= best_in_place @user, :work_phone, as: :input, url: admin_user_path(@user) %><br/>
      <%= t(:cell_phone, default: "cell") %>: <%= best_in_place @user, :cell_phone, as: :input, url: admin_user_path(@user) %><br/>
      <%= best_in_place @user, :email, as: :input, url: admin_user_path(@user) %><br/>
    </div>
  </div>
</div>
