<div id="user-info" class="row">
    <div class='col-md-12 text-center' id='user-info-image'>
      <%= link_to avatar_image(@user, size=90), admin_user_path(@user), remote: true %>
    </div>
</div>
<div class="row">
  <div class='col-md-12' id='user-info-info'>
    <div id="user-contact-info" class="user-info">
      <div class="tiny-header"><%= @user.name? ? @user.name.titleize : @user.email %></div>
      <span class="small">
        <%= "#{t(:account_number, default: 'Account:')} #{@user.account_number}<br/>".html_safe if @user.account_number.present? %>
        <%= @user.company.titleize unless @user.company.nil? %><br/>
        <%= @user.city.titleize + ', ' unless @user.city.nil? %> <%= @user.state.titleize unless @user.state.nil? %> <%= @user.zip %>
      </span>
    </div>
    <div id="user-contact-info" class="user-info">
      <div class="tiny-header"><%= t(:contact_info, default: "Contact") %>:</div>
      <%= t(:work_phone, default: "work") %>: <%= @user.work_phone %><br/>
      <%= t(:cell_phone, default: "cell") %>: <%= @user.cell_phone %><br/>
      <%= @user.email %><br/>
    </div>

    <% if @include_tickets == true %>
    <!-- <div id="user-tickets" class="user-info">
      <div class="tiny-header"><%= t(:discussions, default: "Discussions") %>:</div>
      <ul class='list-unstyled'>
      <% @user.topics.recent.each do |ticket| %>
        <li><%= link_to("##{ticket.id}- #{ticket.name}", admin_topic_path(ticket), remote: true) %></li>
      <% end %>
      <li><%= link_to("See more", admin_user_path(@user), remote: true) if @user.topics.count > 15 %></li>
      </ul>
    </div> -->
    <% end %>
  </div>
</div>
