<div class="left-nav-header">
  <%= hide_responsive_nav %>
  <span class="tiny-header">User Role</span>
</div>

<ul class="list-unstyled nav-items">
  <%= render partial: 'admin/users/user_nav_item', locals: { role: 'user', label: label_pluralize(t(:user_role)) } %>
  <%= render partial: 'admin/users/user_nav_item', locals: { role: 'team', label: t(:team) } %>
  <%= render partial: 'admin/users/user_nav_item', locals: { role: 'admin', label: label_pluralize(t(:admin_role)) } %>
  <%= render partial: 'admin/users/user_nav_item', locals: { role: 'agent', label: label_pluralize(t(:agent_role)) } %>
  <%= render partial: 'admin/users/user_nav_item', locals: { role: 'editor', label: label_pluralize(t(:editor_role)) } %>
</ul>
