<% title "#{admin_title} #{t(:discussions, default: "Discussions")}" %>

<div class="row">
  <div id="ticket-stats" class="col-md-3 col-lg-2 hidden-sm hidden-xs">
    <%= render 'admin/users/user_filter' %>
  </div>
  <div class="col-md-9 col-lg-10 col-xs-12 main-panel" id="tickets">
    <div class="pull-right">
      <%= render partial: 'admin/users/user_context_menu', locals: { user: @user } %>
    </div>
    <h3>
      <%= @user.name.titleize %>
      <%= "<br/>#{content_tag(:small, "Account: " + @user.account_number)}".html_safe if @user.account_number.present? %>
    </h3>
    <div id="user-info">
      <%= render 'admin/users/edit' %>
    </div>
  </div>
</div>
