<% title "#{admin_title} #{t('users', default: "Users")}" %>

<h2 id="ticket-page-title">
  <%= user_page_title_text(params[:role]) %>: <%= user_filter %>
  <span class='label <%= status_class(@status) %>' style='text-transform: uppercase'>
    <%= status_label(@status) if @status %>
  </span>
  <span class="pull-right">
    <%= link_to t(:invite_users, default: "Invite New Users"), admin_invite_path, remote: false, class: 'btn btn-primary' if current_user.is_admin? %>
  </span>
</h2>

<div id="tickets">
  <%= render partial: 'admin/users/users' %>
</div>
