<% title "#{AppSettings['settings.site_name']}: #{@page_title}" %>
<% meta_tag :description, "#{@category.meta_description}" %>
<% meta_tag :keywords, "#{@category.keywords}" %>

<div class="row content-row">

  <div id="left-col" class="col-lg-3 col-md-3 hidden-sm hidden-xs affix affix-top">
    <ul class="list-unstyled border-right">
    <% @categories.with_translations(I18n.locale).each do |category| %>
      <% if category.docs.with_translations(I18n.locale).count > 0 %>
      <li class="">
        <% if @category.nil? %>
        <%= link_to category.name, '#', class: 'autoscroll list-group-item', "data-target" => "#category-#{category.id}"  %>
        <% else %>
        <%= link_to category.name, category_path(category), class: 'autoscroll list-group-item', "data-target" => "#category-#{category.id}"  %>
        <% end %>
      </li>
      <% end %>
    <% end %>
    </ul>
  </div>

  <div id="category-col" class="col-md-9 col-sm-12 col-xs-12">
    <ul class='list-unstyled'>
      <% @docs.each do |doc| %>
          <%= render ("docs/doc"), doc: doc %>
      <% end %>
      <% if @docs.count == 0 %>

        <div class="text-center verticalness">
          <%= t(:nothing_here) %>
        </div>

      <% end %>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-9 text-left">
      <%= paginate @docs %>
    </div>
  </div>

  </div>

</div>
