<div id="header-wrapper">
  <div id="above-header" class="hidden-xs small">
  </div>
  <nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: 'navbar-brand' do
          image_tag('logo.png', width: '40', alt: 'Logo', class: 'pull-left logo') + content_tag(:span, "Helpy Support", class:'hidden-sm')
        end %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right pull-right hidden-xs" data-hook='admin-nav-right'>
          <%= content_tag(:li, navbar_expanding_link(new_admin_topic_path, "fa fa-plus", t(:new_ticket, default: "New Ticket"), "", (params[:controller] == 'admin/topics')), class: 'visible-lg visible-md visible-sm hidden-xs click-loader new-discussion') if current_user.is_agent? %>
          <%= help_menu %>
          <%= admin_avatar_menu %>
        </ul>
        <ul class="nav navbar-nav navbar-left" data-hook='admin-nav-left'>
          <%= content_tag(:li, link_to(t(:discussions, default: "Discussions"), admin_topics_path)) if (forums? || tickets?) && current_user.is_agent? %>
          <%= content_tag(:li, link_to(t(:reports, default: 'Reports'), admin_reports_path(interval: 7))) if tickets? && current_user.is_admin? %>
          <%= helpcenter_menu if (knowledgebase? || forums?) && current_user.is_agent? %>
          <%= content_tag(:li, link_to(t(:app_store, default: "App Store"), "http://helpy.io/store/"), class: "hidden-sm hidden-xs") if current_user.is_agent? %>
          <%= content_tag(:li, link_to(t(:open_new_discussion, default: "Open Discussion"), new_admin_topic_path), class: 'visible-xs hidden-lg hidden-md hidden-sm') if current_user.is_agent? %>
          <%= content_tag(:li, link_to(t(:settings, default: "Settings"), admin_settings_path), class: 'visible-xs hidden-lg hidden-md hidden-sm') if current_user.is_admin? %>
          <%= content_tag(:li, link_to(t(:get_help, default: "Get Help"), "http://support.helpy.io/"), class: 'visible-xs hidden-lg hidden-md hidden-sm', target: 'blank') %>
        </ul>
      </div>
    </div>
  </nav>

</div>
