<div id="header-wrapper">
  <div id="above-header" class="hidden-xs small">
  </div>
  <%= nav_bar brand: image_tag("logo.png", width: 40, class: "pull-left logo") + content_tag(:span, "Helpy Support", class: 'hidden-sm'), responsive: true, inverse: true do %>

    <%= menu_group pull: :right do %>
      <%= menu_item content_tag(:span, nil, class: 'fa fa-question-circle'), "http://support.helpy.io/", class: 'pull-right visible-lg visible-md visible-sm hidden-xs settings-cog', target: 'blank' %>
      <%= menu_item glyph(:cog), admin_settings_path, class: 'pull-right visible-lg visible-md visible-sm hidden-xs settings-cog' if current_user.is_agent? %>
      <%= menu_item glyph(:plus), new_admin_topic_path, remote: (params[:controller] == 'admin/topics'), class: 'pull-right visible-lg visible-md visible-sm hidden-xs click-loader new-discussion' if current_user.is_agent? %>
    <% end %>

    <%= menu_group pull: :right do %>
        <%= menu_item t(:discussions, default: "Discussions"), admin_topics_path if (forums? || tickets?) && current_user.is_agent? %>
        <%= menu_item t(:team, default: 'Team'), admin_stats_path(interval: 7) if tickets? && current_user.is_admin? %>
        <%= menu_item t(:internal_content, default: "Internal Content"), admin_internal_categories_path, class:'kblink' if knowledgebase? && current_user.is_editor? %>
        <%= menu_item t(:content, default: "Content"), admin_categories_path, class:'kblink' if knowledgebase? && current_user.is_editor? %>
        <%= menu_item t(:communities, default: "Communities"), admin_forums_path if forums? && current_user.is_agent? %>
        <%= menu_item t(:app_store, default: "App Store"), "http://helpy.io/store/", class: "hidden-sm" %>
        <%= menu_item t(:open_new_discussion, default: "Open Discussion"), new_admin_topic_path, class: 'visible-xs hidden-lg hidden-md hidden-sm' if current_user.is_agent? %>
        <%= menu_item t(:settings, default: "Settings"), admin_settings_path, class: 'visible-xs hidden-lg hidden-md hidden-sm' if current_user.is_agent? %>
        <%= menu_item t(:get_help, default: "Help"), "http://support.helpy.io/", class: 'visible-xs hidden-lg hidden-md hidden-sm', target: 'blank' %>
    <% end %>

  <% end %>
</div>
