<div id="header-wrapper">
      <div id="above-header" class="hidden-xs small">
      </div>
      <%= nav_bar brand: image_tag("logo.png", width: 40, class: "pull-left logo") + content_tag(:span, "Helpy Support", class: 'hidden-sm'), responsive: true, inverse: true do %>
          <%= menu_group pull: :right do %>
              <%#= menu_item "Dashboard", admin_dashboard_path %>
              <%= menu_item t(:discussions, default: "Discussions"), admin_tickets_path %>
              <%= menu_item t(:content, default: "Content"), admin_knowledgebase_path, class:'kblink' if Settings.knowledgebase %>
              <%= menu_item t(:communities, default: "Communities"), admin_communities_path if Settings.forums %>
              <%= menu_item t(:app_store, default: "App Store"), "http://helpy.io/store/" %>
              <% if @remote_search == true %>
                <%= form_tag admin_search_path, method: :get, remote: true, class: 'navbar-form navbar-right' do %>
                  <%= text_field_tag('q', nil, placeholder: t(:search, default: 'Search'), value: params[:q], class: 'form-control full-width') %>
                <% end %>
              <% else %>
                <%= form_tag admin_search_path, method: :get, class: 'navbar-form navbar-right' do %>
                  <%= text_field_tag('q', nil, placeholder: t(:search, default: 'Search'), value: params[:q], class: 'form-control full-width') %>
                <% end %>
              <% end %>
          <% end %>
      <% end %>
</div>
