<div id="header-wrapper">
			<div id="above-header">
				<%= render :partial => 'layouts/above_header' %>
	    </div>
			<%= nav_bar brand: "#{APP_CONFIG[:product_name] + " " if APP_CONFIG[:product_name]}" "#{APP_CONFIG[:site_name]}", responsive: true do %>
					<%= menu_group pull: :right do %>
							<%#= menu_item "Home", root_path %>
							<% unless APP_CONFIG[:parent_company].blank? %>
							<%= menu_item "Back to #{APP_CONFIG[:parent_company]}", "#{APP_CONFIG[:parent_site]}" %>
							<% end %>
							<%= menu_item "Knowledgebase", categories_path, class:'kblink' %>
							<%= menu_item "Forums", forums_path %>
							<%= menu_item "Ask a Question", new_topic_path %>
							<%= menu_item "Search", result_path %>
					<% end %>
			<% end %>
</div>
