<% if Devise.omniauth_providers.count > 0 %>
<div class="col-md-6 border-right">
  <ul class="list-inline">
    <% Devise.omniauth_providers.each do |provider| %>
      <li style="width:100%;"><%= login_with(provider.to_s) %></li>
    <% end %>
  </ul>
</div>

<hr class="hidden-lg hidden-md"/>

<div class="col-md-6">
<% else %>

<div class="col-md-12 login-form" data-title="<%= t('devise.sessions.new.sign_in') %>">
<% end %>
  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, placeholder: I18n.t("activerecord.attributes.user.email"), skip_label: true %>
    <%= f.password_field :password, placeholder: I18n.t("activerecord.attributes.user.password"), autocomplete: "off", skip_label: true %>
    <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
    <% end -%>
    <div class="login-button">
      <%= f.submit t('devise.sessions.new.sign_in', default: "Login"), class: 'btn btn-warning' %>
    </div>
  <% end %>
</div>
<div class="col-md-12 forgot-form" style="display: none;" data-title="<%= t('devise.passwords.new.forgot_your_password') %>">
  <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <%= f.email_field :email, autofocus: true %>

    <div class="reset-button">
      <%= f.submit t('devise.passwords.new.send_me_reset_password_instructions'), class: 'btn btn-warning' %>
    </div>
  <% end %>
</div>

<div class="col-md-6 hidden-lg hidden-md">
</div>
<div class="col-md-6 modal-links">
  <%= link_to I18n.t('devise.registrations.new.sign_up'), new_registration_path(resource_name) %> | <%= link_to I18n.t('devise.passwords.new.forgot_your_password', default: "Forgot your password?"), '#', class: 'forgot-link' %>
</div>
