<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
	<%= render partial: 'layouts/head' %>
	<%= stylesheet_link_tag 'admin', "data-turbolinks-track" => false  %>
	<%= javascript_include_tag "admin", "data-turbolinks-track" => true %>
	</head>

<body>
	<script>
	  ga('set', 'location', location.href.split('#')[0]);
	  ga('send', 'pageview', { "title": document.title });
	</script>
	<div id="upper-wrapper" class="jumbotron">
		<div class="container">
		<div class="row">
			<div class="col-md-12">
				<%= render :partial => 'layouts/admin_header' %>
			</div>
		</div>
	</div>
	</div>
	<% if @pipeline == true %>
	<div id="pipeline-wrapper" class="jumbotron hidden-xs">
		<div class="container">
			<div class="row">
				<div class="ticket-stats col-md-12">
					<%= render partial: 'admin/ticket_stats' %>
				</div>
			</div>
		</div>
	</div>
	<% end %>
	<div id="body-wrapper" class="container">
		<div class="row white-bg">
			<div class="col-md-12">
				<div id="main-body" >
					<div id="main-content">
						<%= yield %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="footer-wrapper">
		<div class="container">
				<%= render :partial => 'layouts/footer' %>
		</div>
	</div>
</body>
</html>
