<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
	<%= render partial: 'layouts/head' %>
	<%= stylesheet_link_tag 'admin', "data-turbolinks-track" => false, media: 'all'  %>
	<%= javascript_include_tag "admin", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "mousetrap.min.js", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "shortcuts.js", "data-turbolinks-track" => true %>
	<%= rtl_tags if rtl? %>
	</head>

<body class="<%= 'rtl' if rtl? %>">
	<script>
	  ga('set', 'location', location.href.split('#')[0]);
	  ga('send', 'pageview', { "title": document.title });
	</script>
	<%= render partial: 'layouts/admin_header' %>

	<div id="body-wrapper" class="container-fluid">
		<div class="row white-bg">
			<div class="col-md-12">
				<div id="main-body" >
					<div id="main-content">
						<div class="settings-panel row">
						  <div id="admin-left-nav" class="col-lg-2 col-md-3 hidden-sm hidden-xs">
								<%= hide_responsive_nav %>
								<% if current_user.is_agent? %>
								<!-- <ul class="nav-items list-unstyled" data-hook="admin_profile_menu">
									<%#= settings_menu_item('glyphicon glyphicon-user', t('your_profile', default: "Your Profile"), admin_profile_settings_path(mode: 'settings')) %>
									<%#= settings_menu_item('glyphicon glyphicon-bell', t('notifications', default: "notifications"), admin_notifications_path) %>
						    </ul> -->
								<% end %>
								<% if current_user.is_admin? %>
								<div class="settings-nav-header"><span class="tiny-header">General Settings</span></div>

								<ul class="nav-items settings-menu list-unstyled" data-hook="admin_general_settings_menu" style="margin-top:10px;">
						      <%= settings_menu_item('glyphicon glyphicon-cog', 'general', admin_general_settings_path) %>
						      <%= settings_menu_item('glyphicon glyphicon-globe', 'international', admin_i18n_settings_path) %>
						      <%= settings_menu_item('fas fa-cogs', 'integrations', admin_integration_settings_path) %>
						    </ul>

								<div class="settings-nav-header"><span class="tiny-header">Ticketing Settings</span></div>
								<ul class="nav-items settings-menu list-unstyled" data-hook="admin_settings_menu" style="margin-top:10px;">
									<%= settings_menu_item('glyphicon glyphicon-envelope', 'email', admin_email_settings_path) %>
									<%= settings_menu_item('glyphicon glyphicon-tags', 'groups', admin_groups_path) %>
									<%= settings_menu_item('glyphicon glyphicon-tags', 'tags', admin_tags_path) %>
                  <%= settings_menu_item('glyphicon glyphicon-share-alt', 'common replies', admin_category_path(1)) %>
						    </ul>

								<div class="settings-nav-header"><span class="tiny-header">Helpcenter Settings</span></div>
						    <ul class="nav-items settings-menu list-unstyled" data-hook="admin_helpcenter_settings_menu" style="margin-top:10px;"``>
									<%= settings_menu_item('glyphicon glyphicon-pencil', 'design', admin_design_settings_path) %>
									<%= settings_menu_item('fas fa-clone', 'theme', admin_theme_settings_path) %>
									<%= settings_menu_item('glyphicon glyphicon-modal-window', 'widget', admin_widget_settings_path) %>
						    </ul>
								<div class="settings-nav-header"><span class="tiny-header">Data</span></div>
								<ul class="nav-items settings-menu list-unstyled" data-hook="admin_data_menu" style="margin-top:10px;">
									<%= settings_menu_item('glyphicon glyphicon-cloud', t('api_keys', default: "API Keys"), admin_api_keys_path) %>
									<%= settings_menu_item('fas fa-download',"export", admin_backups_path) %>
									<%= settings_menu_item('fas fa-upload',"import", admin_imports_path) %>
								</ul>
								<% end %>
						  </div>

						  <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 main-panel">
								<%= yield :settings %>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%= render partial: 'layouts/admin_footer' %>
</body>
</html>
