<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<%#= @page_title || Settings.site_name %>
		<title><%= @title_tag || Settings.site_name %></title>

		<meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="distribution" content="all" />
		<meta name="robots" content="all" />
		<meta name="description" content="<%= @meta_description %>" />
		<meta name="keywords" content="<%= @keywords %>" />
		<meta name="resource-type" content="document" />
		<meta name="MSSmartTagsPreventParsing" content="true" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag "application" %>

		<%= @feed_link.html_safe if @feed_link %>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700|Lobster' rel='stylesheet' type='text/css'>

		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', '<%= Settings.google_analytics_id %>', 'auto');
		ga('send', 'pageview');

		</script>

	</head>

<body>

<div id="top-bar"></div>
<div id="upper-wrapper" class="jumbotron">
	<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= render :partial => 'layouts/header' %>
		</div>
	</div>
</div>
</div>
<div id="body-wrapper" class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="main-body" >
					<%#= bootstrap_flash %>
					<div id="main-content">
						<%= render 'layouts/page_title' unless params[:controller] == 'home' %>
						<%= yield %>
					</div>
				</div>
			</div>
		</div>
</div>
<div id="get-help-wrapper" class="wrapper">
	<div class="row">
		<div class="container">
			<div class="col-md-6 text-center">
				<h3><%= t(:get_help_header) %></h3>
			</div>
			<div class="col-md-6 text-center">
				<%= link_to t(:get_help_button), new_topic_path, class: 'btn btn-primary btn-lg' %>
			</div>
		</div>
	</div>
</div>
<div id="footer-wrapper">
	<div class="container">
			<%= render :partial => 'layouts/footer' %>
	</div>
</div>

</body>
</html>
